.stage {
    display: flex;
    flex-direction: column;
    width: 25%;
    position: relative;
}

.stage__text {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: $spase-sm;
    bottom: 10%;
}

.opacity-40 {
    opacity: 40%;
}

.tarif {
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-radius: 32px;
    background-color: #D9D9D9;
}

.blog {
    display: flex;
    flex-direction: column;
    gap:20px;
}

.container-article-text {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

.o_nas {
    position:relative;
    overflow: hidden;
    max-height: 857px;
    min-height: 857px;
    width:100%;
}

.o_nas-shadow {
    position: absolute;
    min-width: 100%; 
    min-height: 83%;
    max-height: 83%;
    border-radius: 50%;
    z-index: -1;

    -webkit-box-shadow: 0px 0px 0px 300px  $color-almost-black;
    -moz-box-shadow: 0px 0px 0px 300px  $color-almost-black;
    box-shadow: 0px 0px 0px 300px  $color-almost-black;
}

.o_nas-shadow2 {
    position: absolute;
    min-width: 100%; 
    min-height: 83%;
    max-height: 83%;
    border-radius: 50%;
    z-index: -1;

    -webkit-box-shadow: 0px 0px 38px 70px $color-almost-black inset;
    -moz-box-shadow: 0px 0px 38px 70px $color-almost-black inset;
    box-shadow: 0px 0px 38px 70px $color-almost-black inset;
}

.o_nas-main-hard {
    position:absolute;
    width: 100%;
    height: 100%;
    right: 359px;
    z-index: -2;
}

@include for-desktop {
    .tarif {
        min-width: 416px;
        max-width: 416px;
        height: 480px;
        gap:32px;
    }
    .advantage {
        width: 416px;
    }
    .blog {
        max-width: 640px;
    }
    .case1-advantage {
        min-width: 528px;
        max-width: 528px;
    }
    .o_nas-text-hard {
        min-width: 327px;
        height: 240px;
    }
}

@include for-tablet {
    .tarif {
        min-width: 290px;
        max-width: 290px;
        height: 420px; 
        gap:16px;
    }
    .advantage {
        width: 290px;
    }
    .blog {
        min-width: 304px;
    }
    .case1-advantage {
        min-width: 304px;
        max-width: 304px;
    }
    .o_nas {
        display: grid;
        grid-template-columns: 1fr 2fr;
        max-height: 315px;
        min-height: 315px;
        width:100%;
    }

    .col-tablet-o_nas {
        position: relative;
    }
    .o_nas-main-hard {
        position:absolute;
        width: 100%;
        height: 100%;
        right: 5%;
        z-index: -2;
    }
    .o_nas-shadow2 {
        -webkit-box-shadow: 0px 0px 38px 30px $color-almost-black inset;
        -moz-box-shadow: 0px 0px 38px 30px $color-almost-black inset;
        box-shadow: 0px 0px 38px 30px $color-almost-black inset;
    }
    .o_nas-text-hard {
        min-width: 290px;
        height: 315px;
    }
}

@include for-mobile {
    .tarif {
        min-width: 290px;
        max-width: 290px;
        height: 420px;
        gap:16px;
    } 
    .advantage {
        width: 290px;
    }
    .blog {
        min-width: 290px;
    }
    .case1-advantage {
        min-width: 290px;
        max-width: 290px;
    }
    .o_nas {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40px 290px;
        max-height: 315px;
        min-height: 315px;
        width:100%;
        overflow: hidden;
    }

    .col-tablet-o_nas {
        position: relative;
    }
    .o_nas-main-hard {
        overflow: hidden;
        position:absolute;
        width: 100%;
        height: 290px;
        right: 10%;
        z-index: -2;
        bottom: 10%;
    }
    .o_nas-shadow2 {
        -webkit-box-shadow: 0px 0px 38px 30px $color-almost-black inset;
        -moz-box-shadow: 0px 0px 38px 30px $color-almost-black inset;
        box-shadow: 0px 0px 38px 30px $color-almost-black inset;
    }
    .o_nas-text-hard {
        min-width: 290px;
        height: 315px;
    }
}
