// <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">

$font-family: 'Montserrat';
$font-weight-heading: 700;
$font-weight-body: 400;
$font-line-height: 1.219;


.regular-text {
    color: red;
}
@mixin mix-bold-120 {
    font-family: $font-family;
    font-weight: $font-weight-heading;
    color: $dark;
    font-size: 120px;
    line-height: 146.28px;
}
@mixin mix-bold-40 {
    font-family: $font-family;
    font-weight: $font-weight-heading;
    color: $dark;
    font-size: 40px;
    line-height: 48.76px;
}
@mixin mix-bold-32 {
    font-family: $font-family;
    font-weight: $font-weight-heading;
    color: $dark;
    font-size: 32px;
    line-height: 39.01px;
}
@mixin mix-bold-24 {
    font-family: $font-family;
    font-weight: $font-weight-heading;
    color: $dark;
    font-size: 24px;
    line-height: 29.26px;
}
@mixin mix-bold-20 {
    font-family: $font-family;
    font-weight: $font-weight-heading;
    color: $dark;
    font-size: 20px;
    line-height: 24.38px;
}
@mixin mix-bold-16 {
    font-family: $font-family;
    font-weight: $font-weight-heading;
    color: $dark;
    font-size: 16px;
    line-height: 19.5px;
}
@mixin mix-bold-14 {
    font-family: $font-family;
    font-weight: $font-weight-heading;
    color: $dark;
    font-size: 14px;
    line-height: 17.07px;
}
@mixin mix-regular-16 {
    font-family: $font-family;
    font-weight: $font-weight-body;
    color: $dark;
    font-size: 16px;
    line-height: 19.5px;
}
@mixin mix-regular-14 {
    font-family: $font-family;
    font-weight: $font-weight-body;
    color: $dark;
    font-size: 14px;
    line-height: 17.07px;
}
@mixin mix-regular-12 {
    font-family: $font-family;
    font-weight: $font-weight-body;
    color: $dark;
    font-size: 12px;
    line-height: 14.63px;
}
@mixin mix-regular-10 {
    font-family: $font-family;
    font-weight: $font-weight-body;
    color: $dark;
    font-size: 10px;
    line-height: 12.19px;
}

@font-face {
	font-family: "Rostov";
	src: url("static/fonts/rostov.eot") format("embedded-opentype"),
		url("static/fonts/rostov.otf") format("opentype"),
		url("static/fonts/rostov.svg") format("svg"),
		url("static/fonts/Rostov.ttf") format("truetype"),
		url("static/fonts/rostov.woff") format("woff"),
		url("static/fonts/rostov.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@include for-desktop {
    .rostov {
        font-family: 'Rostov';
        font-size: 240px;
        font-weight: 400;
        line-height: 180px;
        color: $dark;
        text-shadow: 
            -0   -5px 0   $dark2,
             0   -5px 0   $dark2,
            -0    5px 0   $dark2,
             0    5px 0   $dark2,
            -5px -0   0   $dark2,
             5px -0   0   $dark2,
            -5px  0   0   $dark2,
             5px  0   0   $dark2,
            -1px -5px 0   $dark2,
             1px -5px 0   $dark2,
            -1px  5px 0   $dark2,
             1px  5px 0   $dark2,
            -5px -1px 0   $dark2,
             5px -1px 0   $dark2,
            -5px  1px 0   $dark2,
             5px  1px 0   $dark2,
            -2px -5px 0   $dark2,
             2px -5px 0   $dark2,
            -2px  5px 0   $dark2,
             2px  5px 0   $dark2,
            -5px -2px 0   $dark2,
             5px -2px 0   $dark2,
            -5px  2px 0   $dark2,
             5px  2px 0   $dark2,
            -3px -5px 0   $dark2,
             3px -5px 0   $dark2,
            -3px  5px 0   $dark2,
             3px  5px 0   $dark2,
            -5px -3px 0   $dark2,
             5px -3px 0   $dark2,
            -5px  3px 0   $dark2,
             5px  3px 0   $dark2,
            -4px -5px 0   $dark2,
             4px -5px 0   $dark2,
            -4px  5px 0   $dark2,
             4px  5px 0   $dark2,
            -5px -4px 0   $dark2,
             5px -4px 0   $dark2,
            -5px  4px 0   $dark2,
             5px  4px 0   $dark2,
            -5px -5px 0   $dark2,
             5px -5px 0   $dark2,
            -5px  5px 0   $dark2,
             5px  5px 0   $dark2,
            -5px -5px 0   $dark2,
             5px -5px 0   $dark2,
            -5px  5px 0   $dark2,
             5px  5px 0   $dark2;
    }   
}

@include for-tablet {
    .rostov {
        font-family: 'Rostov';
        font-size: 60px;
        line-height: 60px;
        font-weight: 400;
        color: $dark;
        text-shadow: 
            -0   -1px 0   $dark2,
             0   -1px 0   $dark2,
            -0    1px 0   $dark2,
             0    1px 0   $dark2,
            -1px -0   0   $dark2,
             1px -0   0   $dark2,
            -1px  0   0   $dark2,
             1px  0   0   $dark2,
            -1px -1px 0   $dark2,
             1px -1px 0   $dark2,
            -1px  1px 0   $dark2,
             1px  1px 0   $dark2,
            -1px -1px 0   $dark2,
             1px -1px 0   $dark2,
            -1px  1px 0   $dark2,
             1px  1px 0   $dark2,
            -2px -1px 0   $dark2,
             2px -1px 0   $dark2,
            -2px  1px 0   $dark2,
             2px  1px 0   $dark2,
            -1px -2px 0   $dark2,
             1px -2px 0   $dark2,
            -1px  2px 0   $dark2,
             1px  2px 0   $dark2,
            -3px -1px 0   $dark2,
             3px -1px 0   $dark2,
            -3px  1px 0   $dark2,
             3px  1px 0   $dark2,
            -1px -3px 0   $dark2,
             1px -3px 0   $dark2,
            -1px  3px 0   $dark2,
             1px  3px 0   $dark2,
            -4px -1px 0   $dark2,
             4px -1px 0   $dark2,
            -4px  1px 0   $dark2,
             4px  1px 0   $dark2,
            -1px -4px 0   $dark2,
             1px -4px 0   $dark2,
            -1px  4px 0   $dark2,
             1px  4px 0   $dark2,
            -1px -1px 0   $dark2,
             1px -1px 0   $dark2,
            -1px  1px 0   $dark2,
             1px  1px 0   $dark2,
            -1px -1px 0   $dark2,
             1px -1px 0   $dark2,
            -1px  1px 0   $dark2,
             1px  1px 0   $dark2;
    }   
}

@include for-mobile {
    .rostov {
        font-family: 'Rostov';
        font-size: 60px;
        line-height: 60px;
        font-weight: 400;
        color: $dark;
        text-shadow: 
            -0   -1px 0   $dark2,
             0   -1px 0   $dark2,
            -0    1px 0   $dark2,
             0    1px 0   $dark2,
            -1px -0   0   $dark2,
             1px -0   0   $dark2,
            -1px  0   0   $dark2,
             1px  0   0   $dark2,
            -1px -1px 0   $dark2,
             1px -1px 0   $dark2,
            -1px  1px 0   $dark2,
             1px  1px 0   $dark2,
            -1px -1px 0   $dark2,
             1px -1px 0   $dark2,
            -1px  1px 0   $dark2,
             1px  1px 0   $dark2,
            -2px -1px 0   $dark2,
             2px -1px 0   $dark2,
            -2px  1px 0   $dark2,
             2px  1px 0   $dark2,
            -1px -2px 0   $dark2,
             1px -2px 0   $dark2,
            -1px  2px 0   $dark2,
             1px  2px 0   $dark2,
            -3px -1px 0   $dark2,
             3px -1px 0   $dark2,
            -3px  1px 0   $dark2,
             3px  1px 0   $dark2,
            -1px -3px 0   $dark2,
             1px -3px 0   $dark2,
            -1px  3px 0   $dark2,
             1px  3px 0   $dark2,
            -4px -1px 0   $dark2,
             4px -1px 0   $dark2,
            -4px  1px 0   $dark2,
             4px  1px 0   $dark2,
            -1px -4px 0   $dark2,
             1px -4px 0   $dark2,
            -1px  4px 0   $dark2,
             1px  4px 0   $dark2,
            -1px -1px 0   $dark2,
             1px -1px 0   $dark2,
            -1px  1px 0   $dark2,
             1px  1px 0   $dark2,
            -1px -1px 0   $dark2,
             1px -1px 0   $dark2,
            -1px  1px 0   $dark2,
             1px  1px 0   $dark2;
    }   
}
