.btn-base {
    @extend .btn-text-sm;
    padding: 8px 20px 8px 20px;
    border-radius: 8px;
}

.btn-base-big {
    @extend .btn-text;
    padding: 8px 20px 8px 20px;
    border-radius: 8px;
}



.btn-almost-black {
    @extend .btn-base;
    background-color: $color-almost-black;
    border: 2px solid $color-gray-dark;
    color: $color-gray-ligth;
}

.btn-off-white {
    @extend .btn-base;
    background-color: $color-off-white;
    border: 0px;
    color: $color-almost-black;
}

.btn-off-white-big {
    @extend .btn-base-big;
    background-color: $color-off-white;
    border: 0px;
    color: $color-almost-black;
}


.btn-gray-br {
    @extend .btn-base;
    background-color: $color-off-white;
    border: 2px solid $color-gray-ligth;
    color: $color-almost-black;
}


.btn-red {
    @extend .btn-base;
    background-color: $color-red;
    border: 0px;
    color: $color-gray-ligth;
}

.btn-red-cross {
    @extend .btn-base;
    background-color: $color-red;
    border: 0px;
    color: $color-gray-ligth;
    padding-right: 40px;
    background-image: url("image/cross.png");
    background-position: right 20px center;
    background-repeat: no-repeat;
}
