.btn-base--service {
    @extend .btn-text-sm;
    padding: 8px 20px 8px 20px;
    border-radius: 8px;
    width: min-content;
}

@include for-desktop{
    .btn-base--service {
        height: 64px
    }
}

@include for-tablet-and-mobile{
    .btn-base--service {
        height: 50px
    }
}

.btn-almost-black--service {
    @extend .btn-base--service;
    background-color: $color-almost-black;
    border: 2px solid $color-gray-dark;
    color: $color-gray-ligth;
}


.btn-red--service {
    @extend .btn-base--service;
    background-color: $color-red;
    border: 0px;
    color: $color-gray-ligth;
}


.btn-gray {
    @extend .btn-base;
    background-color: inherit;
    border: 2px solid $color-gray-ligth;
    color: $color-almost-black;
}
