.color_gray {
    color: $gray-font !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

@include for-desktop {
    .mbt-120-80-60 {
        margin-bottom: 120px !important;     
        margin-top: 120px !important;     
    }
    .mbt-120-80-40 {
        margin-bottom: 120px !important;     
        margin-top: 120px !important;     
    }
    .mb-120-80-40 {
        margin-bottom: 120px !important;     
    }
    .mt-120-80-40 {
        margin-top: 120px !important;     
    }
    .mt-120-80-32 {
        margin-top: 120px !important;     
    }
}
@include for-tablet {
    .mbt-120-80-60 {
        margin-bottom: 80px !important;     
        margin-top: 80px !important;     
    }
    .mbt-120-80-40 {
        margin-bottom: 80px !important;     
        margin-top: 80px !important;     
    }
    .mb-120-80-40 {
        margin-bottom: 80px !important;     
    }
    .mt-120-80-40 {
        margin-top: 80px !important;     
    }
    .mt-120-80-32 {
        margin-top: 80px !important;     
    }
}
@include for-mobile {
    .mbt-120-80-60 {
        margin-bottom: 60px !important;     
        margin-top: 60px !important;     
    }
    .mbt-120-80-40 {
        margin-bottom: 40px !important;     
        margin-top: 40px !important;     
    }
    .mb-120-80-40 {
        margin-bottom: 40px !important;     
    }
    .mt-120-80-40 {
        margin-top: 40px !important;     
    }
    .mt-120-80-32 {
        margin-top: 32px !important;     
    }
}

.border-dark2 {
    border-color: $dark2 !important;
}
