@include for-desktop {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-width: 1126px;
        max-width: 1126px;
        height: 120px;
    }
    .header__logo {
        display: flex;
        gap:8px;
        align-items: center;
        height: 56px;
        width: 237px;
    }
}

@include for-tablet {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 744px;
        height: 96px;
    }
    .header__gang {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
}

@include for-mobile {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 320px;
        height: 96px;
    }
    .header__gang {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
}
