.contacts__contact-grid-big {
    display: grid;
}

.contacts__map-big {
    object-fit: cover;
    grid-area: map;
    border-radius: 40px;
}

.contacts__text-big {
    grid-area: textm;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    max-width: 1088px;
}

.contacts__button-big {
    grid-area: button;
    padding: 8px 24px 8px 24px;
}

.contacts__contact-big {
    grid-area: contact;
    display: flex;
    gap: 20px;
}

@include for-desktop {
    .contacts__contact-grid-big {
        // justify-items: center;
        grid-template-areas: "textm textm textm textm" "map map map map" "contact contact contact contact"; 
        max-width: 1312px;
        row-gap: 32px;
    }
    .contacts__map-big {
        width: 1088px;
        height: 320px;
    }
}

@include for-tablet {
    .contacts__contact-grid-big {
        // justify-items: center;
        grid-template-areas: "textm textm" "map map" "contact contact";
        max-width: 640px;
        gap: 32px;
    }
    .contacts__text-big {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    .contacts__map-big {
        width: 640px;
        height: 290px;
    }
    .contacts__contact-big {
        grid-area: contact;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
    }
}

@include for-mobile {
    .contacts__contact-grid-big {
        grid-template-areas: "textm" "map" "contact";
        width: 290px;
        gap: 16px;
    }
    .contacts__text-big {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .contacts__map-big {
        width: 290px;
        height: 290px;
    }
    .contacts__contact-big {
        grid-area: contact;
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
    }
}

