$color-red: #C83540;
$color-green: #00B40F;
$color-almost-black: #101010;
$color-dark: #2F2F2F;
$color-gray-dark: #444444;
$color-gray: #898989;
$color-gray-ligth: #E1E1E1;
$color-off-white: #EEEEEE;
$color-gray-font: #939393;
