.tablet-mobile {
    display: none;
}

.web {
    display: none;
}
.tablet {
    display: none;
}
.mobile {
    display: none;
}



@include for-desktop {
    .web {
        display: block;
    }
    .tablet {
        display: none;
    }
    .mobile {
        display: none;
    }
    .tablet-mobile {
        display: none;
    }
}



@include for-tablet {
    .web {
        display: none;
    }
    .tablet {
        display: block;
    }
    .mobile {
        display: none;
    }
    .tablet-mobile {
        display: none;
    }
}



@include for-mobile {
    .web {
        display: none;
    }
    .tablet {
        display: none;
    }
    .mobile {
        display: block;
    }
}



@include for-tablet-and-mobile {
    .tablet-mobile {
        display: block;
    }
}
