@use 'sass:list';


.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
}

@each $item in start, center, end, space-evenly, space-around, space-between {
    .justify-content-#{$item} {
        justify-content: $item;
    }
    .justify-items-#{$item} {
        justify-items: $item;
    }
    .justify-self-#{$item} {
        justify-content: $item;
    }

    .align-content-#{$item} {
        align-content: $item;
    }
    .align-items-#{$item} {
        align-items: $item;
    }
    .align-self-#{$item} {
        align-self: $item;
    }

    .align-text-#{$item} {
        text-align: $item;
    }

}

.wrap {
    flex-wrap: wrap;
}

