.color-black {
    color: $color-almost-black;
}

.color-gray {
    color: $color-gray-font;
}

.color-gray2 {
    color: $color-gray;
}

.color-white {
    color: white;
}

.color-off-white {
    color: $color-off-white;
}

.color-gray-ligth {
    color: $color-gray-ligth;
}

.color-article {
    color: #DFDFDF;
}

.color-white40 {
    color: rgba(255, 255, 255, 0.4);
}

.color-green-gradient {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(rgba(0, 180, 15, 1), rgba(0, 180, 15, 0.6), rgba(0, 180, 15, 0));
}

.color-white-gradient {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
}

.bg-red {
    background-color: $color-red;
}
