.gap-min { gap: $space-min; }
.gap-sm { gap: $spase-sm; }
.gap-s { gap: $space-s; }
.gap { gap: $space; }
.gap-md { gap: 2$space-md; }
.gap-l { gap: $space-l; }
.gap-xl { gap: $space-xl; }
.gap-xxl { gap: $space-xxl; }
.gap-max { gap: $space-max; }

$space-min: 4px;
$space-sm: 8px;
$space-s: 10px;
$space: 16px;
$space-md: 20px;
$space-l: 22px;
$space-l-plus: 26px;
$space-xl: 32px;
$space-xxl: 40px;
$space-max: 60px;


@include for-desktop {
    .gap-md-- {
        gap: $space-md;
    }
    .gap-max {
        gap: $space-max;
    }
    .space-l-plus-md {
        gap: $space-l-plus;
    }
    .xxl-md-md {
        gap: $space-xxl;
    }
}

@include for-tablet {
    .gap-md-- {
        gap: $space;
    }
    .gap-max {
        gap: $space-max;
    }
    .space-l-plus-md {
        gap: $space-l-plus;
    }
    .xxl-md-md {
        gap: $space-md;
    }
}


@include for-mobile {
    .gap-md-- {
        gap: $space;
    }
    .gap-max {
        gap: $space-max-sm;
    }
    .space-l-plus-md {
        gap: $space-md;
    }
    .xxl-md-md {
        gap: $space-md;
    }
}
