<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        window.addEventListener('load', function () {
            let scroll_elems = {
                "list-img": {"lastX": 0, "ok": false, "el": document.getElementById('list-img')}
            }

            for (const [key, value] of Object.entries(scroll_elems)) { 
                let el = value["el"];
                el.onmousedown = function (e) {   scroll_elems[key]["ok"] = true;  };
                el.onmousemove = function (e) {   if (value['ok']) el.scrollLeft -= e.clientX - value['lastX'];  value['lastX'] = e.clientX;  };
                scroll_elems[key]["el"] = el; 
            };
            window.onmouseup = function (e) {  scroll_elems["list-img"]["ok"] = false;  }
        });
    </script>
</head>
<body>
    <div class="container-page">
        <div class="container-big">
            <header class="header">
                <div class="logo"><img src="../image/logo.svg" alt=""><img class="web" src="../image/GANG.svg" alt=""></div>
                    <img src="../image/burger.svg" alt="">
            </header>
        </div>

        <section id="article">
            <div class="container-article col gap-s mb-3">
                <h2 class="text-wrap">Как подготовиться к запуску кампании в VK Рекламе</h2>
                <div class="row gap-sm">
                    <span class="card-context">Категория</span>
                    <span class="card-context">Категория</span>
                    <h5>22 марта 2022</h5>
                </div>
            </div>
            <img class="article-img-main mb-3" src="../image/card.png" alt="">
            <div class="container-article col gap-xl mb-3">
                <div class="col gap">
                    <h3>О VK Рекламе</h3>
                    <h4 class="col gap color-article">
                        <p>VK Реклама — это единая платформа для быстрого запуска кампаний на проектах VK и в рекламной сети.</p>
                        <p>Главное, с чем необходимо определиться, — цель кампании и параметры, по которым алгоритмы найдут вашу аудиторию. Параметры для настройки в VK Рекламе называются таргетингами — это пол, возраст, место жительства и интересы пользователей, которые увидят объявление.</p>
                    </h4>
                </div>
                <div class="col gap">
                    <h3>Как подготовиться к запуску кампании в VK Рекламе</h3>
                    <h4 class="col gap color-article">
                        <p>Первое — нужно чётко понимать, зачем вы запускаете рекламу. Примеры целей:</p>
                        <ul class="markers">
                            <li>получить лиды;</li>
                            <li>повысить узнаваемость бренда;</li>
                            <li>увеличить продажи;</li>
                            <li>привлечь подписчиков в сообщество.#</li>
                        </ul>
                        <p>Второе — нужно обозначить ключевые показатели эффективности (KPI). Так вы поймёте, что достигли нужных результатов. Примеры KPI:</p>
                        <p> — определённая цена за покупку или доля рекламных расходов; — количество полученных лидов.</p>
                        <p>Третье — рассчитайте бюджет на продвижение. Для запуска рекламы нужно пополнить счёт минимум на 600 рублей (зачислится 500 рублей — с учётом НДС 20%). Подробная информация о минимальном платеже и НДС — в справке VK Рекламы. В остальном вы сами определяете, сколько можете потратить на кампанию. Здесь можно ориентироваться на свой прошлый опыт запуска рекламных кампаний. Если его пока нет, можно запустить тестовую кампанию, чтобы определить подходящий бюджет для достижения желаемого результата.</p>
                        <p>По бюджету тестовой кампании можно ориентироваться на стоимость 5 конверсий — это рекомендация по минимальному рекламному бюджету для одной кампании. Для примера возьмём 400 ₽. Считаем: 400 * 5 = 2000 ₽. Вместе с НДС — 2 400 ₽.</p>
                        <p>Когда будете указывать бюджет в VK Рекламе, обратите внимание на сумму, поступающую на ваш счёт: она указана с учётом НДС — 20%.</p>
                    </h4>
                </div>
                <div class="row scroll space-l-plus-md" id="list-img">
                    <img src="../image/card.png" alt="" class="artical-img-min">
                    <img src="../image/card.png" alt="" class="artical-img-min">
                    <img src="../image/card.png" alt="" class="artical-img-min">
                    <img src="../image/card.png" alt="" class="artical-img-min">
                </div>
                <h4 class="col gap color-article">
                    <p>Если вам понадобится оформить возврат средств, то НДС вернётся, если вы ещё не запускали рекламную кампанию.</p>
                    <p>Четвёртое  — выбор целевой аудитории. Нужно обозначить характеристики людей, которым вы будете показывать рекламу. Пример: мужчины и женщины в возрасте от 25 до 45 лет, которые живут в России и интересуются бытовой техникой.</p>
                    <p>Пятое — проработка УТП и концепции рекламных креативов. Например: вы решили, что будете предлагать скидки, а в креативах использовать брендированные изображения. Подробно о подготовке рекламных креативов мы рассказали в отдельной статье.</p>
                    <p>Это базовый минимум, который необходимо проработать перед стартом кампании.</p>
                </h4>
                <h3>Что нужно сделать в кабинете VK Рекламы до запуска кампании</h3>
                <h4 class="col gap color-article">
                    <ul class="markers">
                        <li>Зайти в раздел «Настройки» и указать ФИО и ИНН. Это необходимо для соблюдения требований законодательства и для корректной маркировки рекламы. Если вы зарегистрировались как юридическое лицо, то для запуска рекламной кампании нужно будет заполнить реквизиты.</li>
                        <li>Пополнить баланс. Это можно сделать в разделе «Бюджет».<a href=""> Инструкция →</a></li>
                        <li> Ознакомиться с <a href="">правилами размещения рекламы.</a></li>
                        <li>Настроить пиксель и события пикселя, если запускаете рекламу сайта.<a href=""> Инструкция →</a></li>
                        <li>Добавить UTM-метки, если запускаете рекламу сайта<a href=""> Инструкция →</a></li>
                    </ul>
                    <p>Если продвигаете не сайт, а другой объект рекламы (например, мобильное приложение), посмотрите в справке, какая предварительная настройка необходима.</p>
                    <p>Теперь поговорим о стратегии запуска кампании, которую важно проработать заранее.</p>
                </h4>
                <h3>Стратегия запуска рекламной кампании</h3>
                <h4 class="col gap color-article">
                    <p>При разработке стратегии нужно ответить на все вопросы, которые могут возникать во время работы с кампанией. Например:</p>
                    <ul class="markers">
                        <li>С чего начать?</li>
                        <li>Как анализировать эффективность и оптимизировать кампании?</li>
                        <li>увеличить продажи;</li>
                        <li>Что и как тестировать?</li>
                    </ul>
                    <p>Прежде чем настроить в VK Рекламе основную кампанию с большим бюджетом, имеет смысл протестировать несколько гипотез.</p>
                </h4>
                <h3>Что тестировать в первую очередь</h3>
                <h4 class="col gap color-article">
                    <ul class="markers">
                        <li>Креативы</li>
                        <li>Таргетинги</li>
                        <li>модели оптимизации: клики, показы или целевые действия;</li>
                        <li>места размещения.</li>
                    </ul>
                </h4>
                <h3>Как тестировать таргетинги</h3>
                <h4 class="col gap color-article">
                    <p>Чтобы найти наиболее подходящую аудиторию, таргетинги лучше тестировать в такой последовательности:</p>
                    <ul class="markers">
                        <li type="a" >Таргетинг на широкую аудиторию.</li>
                        <li type="a" >Ретаргетинг — повторный показ рекламы тем, кто уже с ней взаимодействовал.</li>
                        <li type="a" >Настройки по ключевым словам и интересам аудитории.</li>
                    </ul>
                    <p>Вот несколько советов по тестированию таргетингов:</p>
                    <ul class="markers">
                        <li>Не запускайте разные стратегии в одной группе объявлений. Например: кампании на новую аудиторию стоит тестировать отдельно от ретаргетинговых.</li>
                        <li>Сравнивайте между собой группы, в которые внесено не более одного изменения относительно контрольной группы. Например, только креативы или настройки аудитории.</li>
                        <li>Не занижайте бюджет на разные группы объявлений — это поможет сделать корректные выводы об эффективности рекламы. Можно ориентироваться на стоимость 3-5 конверсий.</li>
                        <li>Сравнивая Cost Per Action (CPA, модель оплаты за совершённое целевое действие) между группами, признавайте более эффективной ту группу, в которой CPA минимум на 15-20% ниже. Если CPA меньше 15%, есть смысл увеличить бюджет теста, чтобы получить больше конверсий и более репрезентативный результат.</li>
                    </ul>
                    <p>Теперь вы знаете, что важно сделать перед запуском, и готовы настроить первую кампанию в VK Рекламе. Для этого посмотрите инструкции:</p>
                    <ul class="markers">
                        <li><a href="">Запуск рекламы сайта →</a></li>
                        <li><a href="">Запуск рекламы приложения →</a></li>
                        <li><a href="">Запуск рекламы продуктов из каталога →</a></li>
                        <li><a href="">Запуск рекламы с лид-формой →</a></li>
                        <li><a href="">Запуск рекламы сообщества ВКонтакте →</a></li>
                        <li><a href="">Запуск рекламы мини-приложения →</a></li>
                        <li><a href="">Запуск рекламы музыки →</a></li>
                        <li><a href="">Запуск рекламы видео и трансляций →</a></li>
                    </ul>
                    <img src="../image/card.png" alt="" class="artical-img">
                    <div class="row justify-content-center align-items-center gap-sm">
                        <img src="../image/triangle2.svg" alt=""><div class="li-list bg-red"></div><div class="li-list"></div><div class="li-list"></div><div class="li-list"></div><img src="../image/triangle.svg" alt="">
                    </div>
                </h4>
                <h3>Как анализировать эффективность</h3>
                <h4 class="col gap color-article">
                    <p>Следите за эффективностью рекламных кампаний, чтобы вовремя корректировать стратегию продвижения и разумно расходовать средства.</p>
                    <p>Зайдите в раздел «Кампании» кабинета VK Рекламы, там вы увидите дашборд со статистикой по кампаниям, группам объявлений и объявлениям.</p>
                    <p>Система приводит результаты по основным метрикам: охвату, показам, кликабельности (CTR). Также вы сможете выбрать те показатели, которые важны для вас, если нажмёте на шестерёнку.</p>
                    <img src="../image/card.png" alt="" class="artical-img">
                </h4>
                <div class="container-article-text">
                    <h4 class="col gap color-article">О том, как интерпретировать данные и использовать расширенную статистику, вы можете прочитать в статье.</h4>
                </div>
            </div>
        </section>

        <section id="contacts">
            <div class="container-big-web">
                <h1 class="color-white mb-3">Контакты</h1>
                <div class="contacts__grid">
                    <img class="contacts__map" src="../image/map.png" alt="">                  
                    <div class="contacts__text">
                        <h2 class="">Красноярск</h2>
                        <h4 class="weight-b">У нас есть уютный офис, приходите, обсудим ваш проект или побеседуем в свободной форме</h4>    
                    </div>
                    <div class="contacts__contact-grid grid-2x2-sm">
                        <div class="contacts__item">
                            <span class="contact__h">Адрес</span>
                            <h4 class="color-black align-self-end weight-b">Афонтовский переулок, дом 2, офис 6-01, 6-04, 6-11</h4>
                        </div>
                        <div class="contacts__item">
                            <span class="contact__h">Почта</span>
                            <h4 class="color-black align-self-end weight-b">welcome@mygang.ru</h4>
                        </div>
                        <div class="contacts__item">
                            <span class="contact__h">Социальные сети</span>
                            <img class="align-self-end weight-b" src="../image/vk.svg" alt="">
                        </div>
                        <div class="contacts__item">
                            <span class="contact__h">Телефон</span>
                            <h4 class="color-black align-self-end weight-b">+7 (999) 442 05 26</h4>
                        </div>
                    </div>
                    <button class="btn-off-white-big">Сотрудничать</button>
                </div> 
            </div>
        </section>

        <footer>
            <div class="container-big">
                <div class="footer-container">
                    <div class="footer__grid-A col gap-md--">
                        <div class="logo"><img src="../image/logo.svg" alt=""><img class="web" src="../image/GANG.svg" alt=""></div>
                        <h5 class="color-gray">ООО “ГЭНГ”<br>ОГРН 1212400015783<br>ИНН 2464156107</h5>
                        <h5 class="color-gray">660078, Красноярский край, г Красноярск, пер Афонтовский, зд. 2, помещ. 75 (офис 611)</h5>
                    </div>
                    <div class="footer__grid-B col gap-md--">
                        <h5>Главная</h5>
                        <h5>О нас</h5>
                        <h5>Портфолио</h5>
                        <h5>Контакты</h5>
                        <h5>Вакансии</h5>
                        <h5>Блог</h5>
                    </div>
                    <div class="footer__grid-C col gap-md--">
                        <h5 class="color-gray">Услуги</h5>
                        <h5>Комплекс</h5>
                        <h5>Таргет</h5>
                        <h5>Контекст</h5>
                        <h5>Веб-разработка</h5>
                        <h5>Стратегии</h5>
                    </div>
                    <div class="footer__grid-D col gap-md--" >
                        <h5 class="color-gray">Связаться</h5>
                        <div class="row gap-l">
                            <div class="col gap-sm">
                                <h6 class="color-off-white">welcome@mygang.ru</h6>
                                <h6 class="color-off-white">+7 (999) 442 05 26</h6>
                            </div>
                            <img src="../image/vk-white.svg" alt="">
                        </div>
                        <button class="btn-almost-black">Обсудить проект</button>
                        <h6 class="color-gray">Политика конфиденциальности</h6>
                        <h6 class="color-gray">2024 Ⓒ ООО «ГЭНГ»</h6>
                    </div>
                </div>
            </div>
        </footer>

    </div>
</body>
</html>
