<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        window.addEventListener('load', function () {
            let scroll_elems = {
                "tags": {"lastX": 0, "ok": false, "el": document.getElementById('tags')}
            }

            for (const [key, value] of Object.entries(scroll_elems)) { 
                let el = value["el"];
                el.onmousedown = function (e) {   scroll_elems[key]["ok"] = true;  };
                el.onmousemove = function (e) {   if (value['ok']) el.scrollLeft -= e.clientX - value['lastX'];  value['lastX'] = e.clientX;  };
                scroll_elems[key]["el"] = el; 
            };
            window.onmouseup = function (e) {  scroll_elems["tags"]["ok"] = false;  }
        });
    </script>
</head>
<body>
    <div class="container-page">
        <div class="container-big">
            <header class="header">
                <div class="logo"><img src="../image/logo.svg" alt=""><img class="web" src="../image/GANG.svg" alt=""></div>
                    <img src="../image/burger.svg" alt="">
            </header>
        </div>

        <section id="cards">
            <div class="container-h1">
                <h1>Блог</h1>
            </div>
            <div class="container">
                <div class="row gap-md-- scroll" id="tags">
                    <button class="btn-red color-white">Все статьи</button>
                    <button class="btn-red color-gray-ligth">Кейсы</button>
                    <button class="btn-almost-black color-gray-ligth">Новости маркетинга</button>
                    <button class="btn-almost-black color-gray-ligth">Наша жизнь</button>
                    <button class="btn-almost-black color-gray-ligth">Компетенции</button>
                </div>
            </div>
            <div class="container mb-10">
                <div class="grid-2x2" style="max-width: 1322px;">
                    <div class="blog">
                        <div class="blog-img">
                            <span class="card-context">Категория</span>
                            <span class="card-context">Категория</span>
                        </div>
                        <h3>Успешные методы привлечения клиентов в маркетинговом агентстве</h3>
                        <h4>В мире, где конкуренция между маркетинговыми агентствами становится всё более острой, привлечение клиентов стало искусством. В этой статье мы рассмотрим несколько методов, которые помогут вам выделиться среди конкурентов и привлечь новых клиентов.</h4>
                        <button class="btn-almost-black align-self-end">Читать</button>
                    </div>
                    <div class="blog">
                        <div class="blog-img">
                            <span class="card-context">Категория</span>
                            <span class="card-context">Категория</span>
                        </div>
                        <h3>Успешные методы привлечения клиентов в маркетинговом агентстве</h3>
                        <h4>В мире, где конкуренция между маркетинговыми агентствами становится всё более острой, привлечение клиентов стало искусством. В этой статье мы рассмотрим несколько методов, которые помогут вам выделиться среди конкурентов и привлечь новых клиентов.</h4>
                        <button class="btn-almost-black align-self-end">Читать</button>
                    </div>
                    <div class="blog">
                        <div class="blog-img">
                            <span class="card-context">Категория</span>
                            <span class="card-context">Категория</span>
                        </div>
                        <h3>Успешные методы привлечения клиентов в маркетинговом агентстве</h3>
                        <h4>В мире, где конкуренция между маркетинговыми агентствами становится всё более острой, привлечение клиентов стало искусством. В этой статье мы рассмотрим несколько методов, которые помогут вам выделиться среди конкурентов и привлечь новых клиентов.</h4>
                        <button class="btn-almost-black align-self-end">Читать</button>
                    </div>
                    <div class="blog">
                        <div class="blog-img">
                            <span class="card-context">Категория</span>
                            <span class="card-context">Категория</span>
                        </div>
                        <h3>Успешные методы привлечения клиентов в маркетинговом агентстве</h3>
                        <h4>В мире, где конкуренция между маркетинговыми агентствами становится всё более острой, привлечение клиентов стало искусством. В этой статье мы рассмотрим несколько методов, которые помогут вам выделиться среди конкурентов и привлечь новых клиентов.</h4>
                        <button class="btn-almost-black align-self-end">Читать</button>
                    </div>
                </div> 
            </div>
        </section>

        <footer>
            <div class="container-big">
                <div class="footer-container">
                    <div class="footer__grid-A col gap-md--">
                        <div class="logo"><img src="../image/logo.svg" alt=""><img class="web" src="../image/GANG.svg" alt=""></div>
                        <h5 class="color-gray">ООО “ГЭНГ”<br>ОГРН 1212400015783<br>ИНН 2464156107</h5>
                        <h5 class="color-gray">660078, Красноярский край, г Красноярск, пер Афонтовский, зд. 2, помещ. 75 (офис 611)</h5>
                    </div>
                    <div class="footer__grid-B col gap-md--">
                        <h5>Главная</h5>
                        <h5>О нас</h5>
                        <h5>Портфолио</h5>
                        <h5>Контакты</h5>
                        <h5>Вакансии</h5>
                        <h5>Блог</h5>
                    </div>
                    <div class="footer__grid-C col gap-md--">
                        <h5 class="color-gray">Услуги</h5>
                        <h5>Комплекс</h5>
                        <h5>Таргет</h5>
                        <h5>Контекст</h5>
                        <h5>Веб-разработка</h5>
                        <h5>Стратегии</h5>
                    </div>
                    <div class="footer__grid-D col gap-md--" >
                        <h5 class="color-gray">Связаться</h5>
                        <div class="row gap-l">
                            <div class="col gap-sm">
                                <h6 class="color-off-white">welcome@mygang.ru</h6>
                                <h6 class="color-off-white">+7 (999) 442 05 26</h6>
                            </div>
                            <img src="../image/vk-white.svg" alt="">
                        </div>
                        <button class="btn-almost-black">Обсудить проект</button>
                        <h6 class="color-gray">Политика конфиденциальности</h6>
                        <h6 class="color-gray">2024 Ⓒ ООО «ГЭНГ»</h6>
                    </div>
                </div>
            </div>
        </footer>

    </div>
</body>
</html>
