<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        window.addEventListener('load', function () {
            let scroll_elems = {
                "tags": {"lastX": 0, "ok": false, "el": document.getElementById('tags')},
                "tags2": {"lastX": 0, "ok": false, "el": document.getElementById('tags2')},
                "advantages": {"lastX": 0, "ok": false, "el": document.getElementById('advantages')},
                "design": {"lastX": 0, "ok": false, "el": document.getElementById('design')}
            }

            for (const [key, value] of Object.entries(scroll_elems)) { 
                let el = value["el"];
                el.onmousedown = function (e) {   scroll_elems[key]["ok"] = true;  };
                el.onmousemove = function (e) {   if (value['ok']) el.scrollLeft -= e.clientX - value['lastX'];  value['lastX'] = e.clientX;  };
                scroll_elems[key]["el"] = el; 
            };
            window.onmouseup = function (e) {  scroll_elems["tags"]["ok"] = false; scroll_elems["tags2"]["ok"] = false; scroll_elems["advantages"]["ok"] = false; scroll_elems["design"]["ok"] = false;  }
        });
    </script>
</head>
<body>
    <div class="container-page">
        <div class="container-big">
            <header class="header">
                <div class="logo"><img src="../image/logo.svg" alt=""><img class="web" src="../image/GANG.svg" alt=""></div>
                    <img src="../image/burger.svg" alt="">
            </header>
        </div>
        <section id="base-case">
            <div class="container-big">
                <h1 class="mb-3">АБК «Прагмат»</h1>
                <div class="grid-2x2 justify-items-start">
                    <h3 class="color-gray2 justify-self-end ">Описание</h3>
                    <h4 class="text-wrap color-gray2">Академия обучает специалистов в 6 направлениях на базе более чем 130 программ обучения. Компания насчитывает 120 человек, 2 офиса в центре Южно-Сахалинска и более 10000 обучающихся специалистов в год.</h4>
                </div>
            </div>
    
            <div class="row justify-content-center mb-10">
                <img class="border-radius-xl" src="../image/case.png" alt="Сегодня без картинок" width="1312" height="780">
            </div>
    
            <div class="container-big">
                <div class="grid-2x2 justify-items-start">
                    <div class="col gap">
                        <h3 class="color-gray2">Проблема</h3>
                        <h4 class="text-wrap color-gray2">Масштабы и амбиции академии достигли ограничения старого сайта АБК Прагмат и формата обучения</h4>
                    </div>
                    <div class="col gap">
                        <h3 class="color-gray2">Решение</h3>
                        <h4 class="text-wrap color-gray2">Разработка сайта, в первую очередь удобного для абитуриента, для представления программ обучения, создание системы элементов интерфейса для ускорения и упрощения разработки в будующем</h4>
                    </div>
                </div>
            </div>
    
            <div class="container-big mb-10">
                <div class="row gap-md-- scroll xxl-md-md" id="tags">
                    <button class="btn-red--service color-white">Маркетинговая<wbr>стратегия</button>
                    <button class="btn-almost-black--service">Контекстная<wbr>реклама</button>
                    <button class="btn-almost-black--service">Таргетированная<wbr>реклама</button>
                    <button class="btn-almost-black--service">Веб-разработка</button>
                </div>
            </div>
        </section>
        

        <senction id="content1">
            <div class="container-big">
                <div class="col gap-max">
                    <h1>Фирменный стиль</h1>
                    <img class="border-radius-md" src="../image/case4/main.png" alt="Сегодня без картинок" width="1088" height="360">
                    <div class="grid-2x2 gap-xl">
                        <div class="col gap-md--">
                            <h3 class="color-gray2">Исследования</h3>
                            <h4>Чтобы разработать фирменный стиль для большой корпорации, подключают маркетологов. Они проводят исследования целевой аудитории, конкурентов и рынка, формулируют уникальное торговое предложение и tone of voice, а потом выясняют, какие ценности необходимо отразить в фирменном стиле. Только потом за дело берётся дизайнер.</h4>
                        </div>
                    </div>
                    <div class="row scroll gap-xl" id="advantages">
                        <div class="col gap-md-- case1-advantage">
                            <h3 class="color-gray2 ">Фирменные цвета</h3>
                            <h4 class="text-wrap">Выбор корпоративных цветов — одни из основных этапов в разработке фирменного стиля. Исследование «Impact of colour on marketing» показало, что первые выводы о продукте люди делают в течение 90 секунд после знакомства. При этом 62–90% выводов основано на цвете. Цвет транслирует основные ценности бренда, выделяет его среди конкурентов, привлекает целевую аудиторию.</h4>
                            <img class="border-radius-md" src="../image/case1/style.png" alt="Сегодня без картинок" width="528" height="360">
                        </div>
                        <div class="col gap-md-- case1-advantage">
                            <h3 class="color-gray2 ">Шрифт</h3>
                            <h4 class="text-wrap">Текст, который компания размещает в рекламе, на сайте или визитках, должен соответствовать общей айдентике. Для этого нужна разработка шрифта. Разные стили помогают создать полный образ и транслировать ценности. Шрифт доносит до клиентов эмоциональную составляющую бренда на подсознательном уровне.</h4>
                            <img class="border-radius-md" src="../image/case1/spectator.png" alt="Сегодня без картинок" width="528" height="360">
                        </div>
                        <div class="col gap-md-- case1-advantage">
                            <h3 class="color-gray2 ">Элементы</h3>
                            <h4 class="text-wrap">Дизайнеры разрабатывают образцы дополнительных объектов, чтобы создать целостный образ компании. Например, мокапы с фотографиями на сайте или подушек для интерьера кофейни. Решают использовать только чёрно-белые фотографии или фото с естественным светом. Либо подбирают иллюстратора, который работает в нужном стиле.</h4>
                            <img class="border-radius-md" src="../image/case1/museum381.png" alt="Сегодня без картинок" width="528" height="360">
                        </div>
                    </div>
                </div>
            </div>
        </senction>

        <section id="content2">
            <div class="container-big col gap-xl">
                <h1>Проектирование</h1>
                <img class="border-radius-md" src="../image/case4/proection.png" alt="Сегодня без картинок" width="1088" height="760" style="object-fit: cover;max-height: 360px;">
                <div class="grid-2x2">
                    <div class="col gap-md-- case1-advantage">
                        <h3 class="color-gray2 ">Анализ аудитории</h3>
                        <h4 class="text-wrap">Дизайнер разбирается, как будущие пользователи продукта видят мир, какие у них потребности и ожидания от взаимодействия с сервисом. Эмпатия нужна, чтобы понять, в чём нуждаются пользователи. На этом этапе проводят исследования и собирают данные из открытых источников, чтобы лучше узнать аудиторию, а также отсматривают сайты конкурентов, чтобы выявить паттерны и проблемы.</h4>
                        <img class="border-radius-md" src="../image/case4/analis.png" alt="Сегодня без картинок" width="528" height="360">
                    </div>
                    <div class="col gap-md-- case1-advantage">
                        <h3 class="color-gray2 ">Прототипирование</h3>
                        <h4 class="text-wrap">На основе выбранных идей создаются простейшие макеты, например процесс записи к врачу или покупка товара на маркетплейсе. Их можно нарисовать от руки, набросать в привычном графическом редакторе или специальной программе, например Miro. Детально отрисованные прототипы на данном этапе не нужны — не стоит тратить лишнее время и силы.</h4>
                        <img class="border-radius-md" src="../image/case4/prototip.png" alt="Сегодня без картинок" width="528" height="360">
                    </div>
                </div>
            </div>
        </section>

        <section id="content3">
            <div class="container-big gap-xl">
                <h1 class="mb-3">Дизайн</h1>
                <img class="border-radius-md mb-3" src="../image/case4/design.png" alt="Сегодня без картинок" width="1088" height="760" style="object-fit: cover;max-height: 360px;">
                <div class="row scroll gap-xl mb-3" id="design">
                    <div class="col gap-md-- case1-advantage">
                        <h3 class="color-gray2 text-wrap">Страница<br>О компании</h3>
                        <h4 class="text-wrap">Для повышения лояльности Прагмата разработали страницу с историей и результатами академии на текущий момент, на ней пользователь познакомится как с самой академией так и  с руководством и обучающем составом</h4>
                        <img class="border-radius-md" src="../image/case4/page1.png" alt="Сегодня без картинок" width="528" height="360">
                    </div>
                    <div class="col gap-md-- case1-advantage">
                        <h3 class="color-gray2 ">Страница<wbr>Направление обучения</h3>
                        <h4 class="text-wrap">На странице изучили все направления обучение  и реализовали удобную, продуманную навигацию среди всех обучений академии и поиском среди них</h4>
                        <img class="border-radius-md" src="../image/case4/page2.png" alt="Сегодня без картинок" width="528" height="360">
                    </div>
                    <div class="col gap-md-- case1-advantage">
                        <h3 class="color-gray2 ">Страница<wbr>Направление обучения</h3>
                        <h4 class="text-wrap">На странице изучили все направления обучение  и реализовали удобную, продуманную навигацию среди всех обучений академии и поиском среди них</h4>
                        <img class="border-radius-md" src="../image/case4/page3.png" alt="Сегодня без картинок" width="528" height="360">
                    </div>
                </div>
                <h3 class="color-gray2">Адаптивы</h3>
            <h4>Создали 3 версии сайта для корректного отображения на всех устройствах</h4>
            <img class="border-radius-md" src="../image/case2/analis_buisnes.png" alt="Сегодня без картинок" width="1088" height="360" style="object-fit: cover;max-height: 360px;">
            </div>
        </section>

        <section id="content4">
            <div class="container-big col gap-xl">
                <h1>Разработка</h1>
                <div class="grid-2x2 mb-3">
                    <div class="col gap-md--">
                        <h3 class="color-gray2">Оценка сайта PageSpeed Insights</h3>
                        <h4>PageSpeed Insights API (PSI) позволяет получать отчеты о скорости загрузки страниц на мобильных устройствах и компьютерах, а также советы, как эту скорость увеличить.</h4> 
                    </div>
                </div>
                <img class="border-radius-md" src="../image/case4/state.png" alt="Сегодня без картинок" width="1088" height="360" style="object-fit: cover;max-height: 360px;">
                <div class="grid-2x2 mb-3">
                    <div class="col gap-md--">
                        <h3 class="color-gray2">Результаты</h3>
                        <h4>На основании показателей ЯндексМетрики собрали данные по результатам разработки</h4> 
                    </div>
                </div>
                <div class="row gap-xl">
                    <div class="col gap-xl">
                        <img class="border-radius-md" src="../image/case4/glubina.png" alt="Сегодня без картинок" width="752" height="300" style="object-fit: contain;">
                        <img class="border-radius-md" src="../image/case4/time.png" alt="Сегодня без картинок" width="752" height="300" style="object-fit: contain;">
                    </div>
                    <div class="col">
                        <img class="border-radius-md" src="../image/case4/breake.png" alt="Сегодня без картинок" width="304" height="632" >
                    </div>
                </div>
                <img class="border-radius-md" src="../image/case4/laptop.png" alt="Сегодня без картинок" width="1088" height="760">
            </div>
        </section>

        <div class="container-big mb-10">
            <div class="row gap-md-- scroll xxl-md-md" id="tags2">
                <button class="btn-almost-black--service">Маркетинговая<wbr>стратегия</button>
                <button class="btn-almost-black--service">Контекстная<wbr>реклама</button>
                <button class="btn-red--service color-white">Таргетированная<wbr>реклама</button>
                <button class="btn-almost-black--service">Веб-разработка</button>
            </div>
        </div>

        <section id="cards">
            <div class="container-h1">
                    <h1>Другие работы</h1>
            </div>
            <div class="container ">
                <div class="grid-2x2 justify-items-center mb-3" style="max-width: 1322px;">
                    <div class="card">
                        <h3 class="text-wrap align-self-end web w-min">Туризм Красноярского края</h3>
                        <h1 class="text-break tablet-mobile">Туризм Красноярского края</h1>
                        <div class="col gap-sm">
                            <span class="tablet-mobile card-context">Маркетинговая стратегия</span>
                            <span class="card-context tablet-mobile">Комплексное продвижение</span>
                        </div>
                    </div>
                    <div class="card">
                        <h3 class="text-wrap align-self-end web w-min">Туризм Красноярского края</h3>
                        <h1 class="text-break tablet-mobile">Туризм Красноярского края</h1>
                        <div class="col gap-sm">
                            <span class="tablet-mobile card-context">Маркетинговая стратегия</span>
                            <span class="card-context tablet-mobile">Комплексное продвижение</span>
                        </div>
                    </div>
                    <div class="tablet-mobile">
                        <div class="card">
                            <h3 class="text-wrap align-self-end web w-min">Туризм Красноярского края</h3>
                            <h1 class="text-break tablet-mobile">Туризм Красноярского края</h1>
                            <div class="col gap-sm">
                                <span class="tablet-mobile card-context">Маркетинговая стратегия</span>
                                <span class="card-context tablet-mobile">Комплексное продвижение</span>
                            </div>
                        </div>
                    </div>
                    <div class="tablet-mobile">
                        <div class="card">
                            <h3 class="text-wrap align-self-end web w-min">Туризм Красноярского края</h3>
                            <h1 class="text-break tablet-mobile">Туризм Красноярского края</h1>
                            <div class="col gap-sm">
                                <span class="tablet-mobile card-context">Маркетинговая стратегия</span>
                                <span class="card-context tablet-mobile">Комплексное продвижение</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tablet-mobile row justify-content-center "><button class="tablet-mobile btn-off-white-big mb-10">Загрузить еще</button></div>
            </div>
        </section>

        <section id="contacts">
            <div class="container-big-web">
                <h1 class="color-white mb-3">Контакты</h1>
                <div class="contacts__grid">
                    <img class="contacts__map" src="../image/map.png" alt="">                  
                    <div class="contacts__text">
                        <h2 class="">Красноярск</h2>
                        <h4 class="weight-b">У нас есть уютный офис, приходите, обсудим ваш проект или побеседуем в свободной форме</h4>    
                    </div>
                    <div class="contacts__contact-grid grid-2x2-sm">
                        <div class="contacts__item">
                            <span class="contact__h">Адрес</span>
                            <h4 class="color-black align-self-end weight-b">Афонтовский переулок, дом 2, офис 6-01, 6-04, 6-11</h4>
                        </div>
                        <div class="contacts__item">
                            <span class="contact__h">Почта</span>
                            <h4 class="color-black align-self-end weight-b">welcome@mygang.ru</h4>
                        </div>
                        <div class="contacts__item">
                            <span class="contact__h">Социальные сети</span>
                            <img class="align-self-end weight-b" src="../image/vk.svg" alt="">
                        </div>
                        <div class="contacts__item">
                            <span class="contact__h">Телефон</span>
                            <h4 class="color-black align-self-end weight-b">+7 (999) 442 05 26</h4>
                        </div>
                    </div>
                    <button class="btn-off-white-big">Сотрудничать</button>
                </div> 
            </div>
        </section>

        <footer>
            <div class="container-big">
                <div class="footer-container">
                    <div class="footer__grid-A col gap-md--">
                        <div class="logo"><img src="../image/logo.svg" alt=""><img class="web" src="../image/GANG.svg" alt=""></div>
                        <h5 class="color-gray">ООО “ГЭНГ”<br>ОГРН 1212400015783<br>ИНН 2464156107</h5>
                        <h5 class="color-gray">660078, Красноярский край, г Красноярск, пер Афонтовский, зд. 2, помещ. 75 (офис 611)</h5>
                    </div>
                    <div class="footer__grid-B col gap-md--">
                        <h5>Главная</h5>
                        <h5>О нас</h5>
                        <h5>Портфолио</h5>
                        <h5>Контакты</h5>
                        <h5>Вакансии</h5>
                        <h5>Блог</h5>
                    </div>
                    <div class="footer__grid-C col gap-md--">
                        <h5 class="color-gray">Услуги</h5>
                        <h5>Комплекс</h5>
                        <h5>Таргет</h5>
                        <h5>Контекст</h5>
                        <h5>Веб-разработка</h5>
                        <h5>Стратегии</h5>
                    </div>
                    <div class="footer__grid-D col gap-md--" >
                        <h5 class="color-gray">Связаться</h5>
                        <div class="row gap-l">
                            <div class="col gap-sm">
                                <h6 class="color-off-white">welcome@mygang.ru</h6>
                                <h6 class="color-off-white">+7 (999) 442 05 26</h6>
                            </div>
                            <img src="../image/vk-white.svg" alt="">
                        </div>
                        <button class="btn-almost-black">Обсудить проект</button>
                        <h6 class="color-gray">Политика конфиденциальности</h6>
                        <h6 class="color-gray">2024 Ⓒ ООО «ГЭНГ»</h6>
                    </div>
                </div>
            </div>
        </footer>

    </div>
</body>
</html>
