<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container-page">
        <div class="container-big">
            <header class="header">
                <div class="logo"><img src="../image/logo.svg" alt=""><img class="web" src="../image/GANG.svg" alt=""></div>
                    <img src="../image/burger.svg" alt="">
            </header>
        </div>

        <section id="contacts">
            <div class="container-big">
                <div class="container-h1">
                    <h1 class="color-white">Контакты</h1>
                </div>
                <div class="contacts__contact-grid-big">
                    <img class="contacts__map-big" src="../image/map-big.png" alt="">
                    <div class="contacts__text-big">
                        <h2>Красноярск</h2><div class="tablet"></div>
                        <h4 class="weight-b">У нас есть уютный офис, приходите, обсудим ваш проект или побеседуем в свободной форме</h4> 
                        <button class="btn-off-white-big">Сотрудничать</button>
                    </div>
                    <div class="contacts__contact-big">
                        <div class="contacts__item contacts__contact1-big justify-self-end">
                            <span class="contact__h">Адрес</span>
                            <h4 class="color-black align-self-end weight-b">Афонтовский переулок, дом 2, офис 6-01, 6-04, 6-11</h4>
                        </div>
                        <div class="contacts__item contacts__contact2-big justify-self-start">
                            <span class="contact__h">Почта</span>
                            <h4 class="color-black align-self-end weight-b">welcome@mygang.ru</h4>
                        </div>
                        <div class="contacts__item contacts__contact3-big justify-self-end">
                            <span class="contact__h">Социальные сети</span>
                            <img class="align-self-end weight-b" src="../image/vk.svg" alt="">
                        </div>
                        <div class="contacts__item contacts__contact4-big justify-self-start">
                            <span class="contact__h">Телефон</span>
                            <h4 class="color-black align-self-end weight-b">+7 (999) 442 05 26</h4>
                        </div>
                    </div>
                </div> 
            </div>
        </section>

        <section class="forms">
            <div class="container-big ">
                <div class="form">
                    <div class="form__grid">
                        <h2 class="color-black form__grid-h2">Есть вопросы? Мы всегда на связи</h2>
                        <h4 class="color-black form__grid-textm">Оставьте заявку на обратный звонок и в течение часа мы с вами свяжемся и ответим на все ваши вопросы</h4>
                        <input class="input__form form__grid-input1" type="text" placeholder="Ваше имя">
                        <input class="input__form form__grid-input2" type="text" placeholder="+7 (999) 999-99-99">
                        <div class="form__grid-checkbox">
                            <label for="checkbox" class="checkbox-label">
                                <input type="checkbox" id="checkbox" class="checkbox">
                                <div class="checkbox-view">
                                  <img src="../image/Rectangle 76.svg" alt="" class="checkbox-icon">
                                </div>
                                <h5 class="color-black">Согласие на обработку персональных данных</h5>
                                
                            </label>
                        </div>
                        <button class="btn-gray-br form__grid-button">Отправить</button>
                    </div>
                </div>
            </div>
        </section>


        <footer>
            <div class="container-big">
                <div class="footer-container">
                    <div class="footer__grid-A col gap-md--">
                        <div class="logo"><img src="../image/logo.svg" alt=""><img class="web" src="../image/GANG.svg" alt=""></div>
                        <h5 class="color-gray">ООО “ГЭНГ”<br>ОГРН 1212400015783<br>ИНН 2464156107</h5>
                        <h5 class="color-gray">660078, Красноярский край, г Красноярск, пер Афонтовский, зд. 2, помещ. 75 (офис 611)</h5>
                    </div>
                    <div class="footer__grid-B col gap-md--">
                        <h5>Главная</h5>
                        <h5>О нас</h5>
                        <h5>Портфолио</h5>
                        <h5>Контакты</h5>
                        <h5>Вакансии</h5>
                        <h5>Блог</h5>
                    </div>
                    <div class="footer__grid-C col gap-md--">
                        <h5 class="color-gray">Услуги</h5>
                        <h5>Комплекс</h5>
                        <h5>Таргет</h5>
                        <h5>Контекст</h5>
                        <h5>Веб-разработка</h5>
                        <h5>Стратегии</h5>
                    </div>
                    <div class="footer__grid-D col gap-md--" >
                        <h5 class="color-gray">Связаться</h5>
                        <div class="row gap-l">
                            <div class="col gap-sm">
                                <h6 class="color-off-white">welcome@mygang.ru</h6>
                                <h6 class="color-off-white">+7 (999) 442 05 26</h6>
                            </div>
                            <img src="../image/vk-white.svg" alt="">
                        </div>
                        <button class="btn-almost-black">Обсудить проект</button>
                        <h6 class="color-gray">Политика конфиденциальности</h6>
                        <h6 class="color-gray">2024 Ⓒ ООО «ГЭНГ»</h6>
                    </div>
                </div>
            </div>
        </footer>

    </div>
</body>
</html>
