<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container-page">
        <div class="container-big">
            <header class="header">
                <div class="logo"><img src="../image/logo.svg" alt=""><img class="web" src="../image/GANG.svg" alt=""></div>
                    <img src="../image/burger.svg" alt="">
            </header>
        </div>

        <div class="container-big-x mb-3 col gap-md--">
            <h1>Менеджер проектов</h1>
            <div class="container-2k1-web">
                <h4 class="color-white">
                    <p>Привет! Это GANG уже 5 лет создаем эстетичные и полезные цифровые продукты для бизнеса. Экспериментируем, принимаем смелые решения и несем ответственность за то, что делаем. Тонко чувствуем динамику digital-рынка и индустрии.</p>
                    <br>
                    <p>Создаем проекты без «срока годности» — даже спустя много лет они вдохновляют и служат ориентирами.</p>
                    <br>
                    <p>Ищем ответственного и целеустремленного менеджера проектов, готового активно развиваться и постоянно двигаться к новым высотам.</p>
                </h4>
            </div>
        </div>

        <div class="container-big-x mb-3 col gap-xl">
            <div class="grid-2x2-sm xxl-md-md">
                <h2 class="job-h2">Задачи</h2>
                <h4>
                    <ul class="markers">
                        <li>Координация и управление проектами от начала до завершения</li>
                        <li>Разработка и контроль выполнения планов и графиков проектов</li>
                        <li>Взаимодействие с клиентами для уточнения их требований и ожиданий</li>
                        <li>Организация работы команды и распределение задач между участниками</li>
                        <li>Мониторинг и анализ эффективности проектов, подготовка отчетов</li>
                        <li>Обеспечение соблюдения сроков и бюджетов проектов</li>
                        <li>Управление рисками и решение возникающих проблем</li>
                    </ul>
                </h4>
                <h2 class="job-h2">Требования</h2>
                <h4>
                    <ul class="markers">
                        <li>Высшее образование в области маркетинга, менеджмента или смежных дисциплин</li>
                        <li>Опыт работы на позиции проектного менеджера не менее 3 лет, предпочтительно в маркетинговом агентстве</li>
                        <li>Отличные навыки коммуникации и управления командой</li>
                        <li>Способность работать в условиях многозадачности и сжатых сроков</li>
                        <li>Умение анализировать данные и принимать решения на их основе</li>
                        <li>Знание современных маркетинговых инструментов и технологий</li>
                    </ul>
                </h4>
                <h2 class="job-h2">Условия</h2>
                <h4>
                    <ul class="markers">
                        <li>Работа в динамичном и креативном коллективе</li>
                        <li>Возможность профессионального и карьерного роста</li>
                        <li>Конкурентоспособная заработная плата</li>
                        <li>Офис в центре города с удобной транспортной доступностью</li>
                        <li>Гибкий график работы и возможность удаленной работы</li>
                        <li>Корпоративные мероприятия и тренинги для сотрудников</li>
                    </ul>
                </h4>
            </div>
        </div>

        <section class="forms">
            <div class="container-big ">
                <div class="form">
                    <div class="form__grid2">
                        <h2 class="color-black form__grid-h2">Стань частью команды</h2>
                        <h4 class="color-black form__grid-textm">Отправьте нам ваше резюме и мы рассмотрим вашу кандидатуры даже если сейчас подходящей вакансии нет</h4>
                        <input class="input__form form__grid-input1" type="text" placeholder="Ваше имя">
                        <input class="input__form form__grid-input2" type="text" placeholder="example@mail.ru">
                        <input class="input__form form__grid-input3" type="text" placeholder="+7 (999) 999-99-99">
                        <input class="input__form form__grid-input4" type="text" placeholder="Ссылка на резюме">
                        <input class="input__form form__grid-input5" type="text" placeholder="Комментарий">
                        <div class="form__grid-checkbox">
                            <label for="checkbox" class="checkbox-label">
                                <input type="checkbox" id="checkbox" class="checkbox">
                                <div class="checkbox-view">
                                  <img src="../image/Rectangle 76.svg" alt="" class="checkbox-icon">
                                </div>
                                <h5 class="color-black">Согласие на обработку персональных данных</h5>
                                
                            </label>
                        </div>
                        <button class="btn-gray-br form__grid-button">Отправить</button>
                    </div>
                </div>
            </div>
        </section>

        <section id="contacts">
            <div class="container-big-web">
                <h1 class="color-white mb-3">Контакты</h1>
                <div class="contacts__grid">
                    <img class="contacts__map" src="../image/map.png" alt="">                  
                    <div class="contacts__text">
                        <h2 class="">Красноярск</h2>
                        <h4 class="weight-b">У нас есть уютный офис, приходите, обсудим ваш проект или побеседуем в свободной форме</h4>    
                    </div>
                    <div class="contacts__contact-grid grid-2x2-sm">
                        <div class="contacts__item">
                            <span class="contact__h">Адрес</span>
                            <h4 class="color-black align-self-end weight-b">Афонтовский переулок, дом 2, офис 6-01, 6-04, 6-11</h4>
                        </div>
                        <div class="contacts__item">
                            <span class="contact__h">Почта</span>
                            <h4 class="color-black align-self-end weight-b">welcome@mygang.ru</h4>
                        </div>
                        <div class="contacts__item">
                            <span class="contact__h">Социальные сети</span>
                            <img class="align-self-end weight-b" src="../image/vk.svg" alt="">
                        </div>
                        <div class="contacts__item">
                            <span class="contact__h">Телефон</span>
                            <h4 class="color-black align-self-end weight-b">+7 (999) 442 05 26</h4>
                        </div>
                    </div>
                    <button class="btn-off-white-big">Сотрудничать</button>
                </div> 
            </div>
        </section>

        <footer>
            <div class="container-big">
                <div class="footer-container">
                    <div class="footer__grid-A col gap-md--">
                        <div class="logo"><img src="../image/logo.svg" alt=""><img class="web" src="../image/GANG.svg" alt=""></div>
                        <h5 class="color-gray">ООО “ГЭНГ”<br>ОГРН 1212400015783<br>ИНН 2464156107</h5>
                        <h5 class="color-gray">660078, Красноярский край, г Красноярск, пер Афонтовский, зд. 2, помещ. 75 (офис 611)</h5>
                    </div>
                    <div class="footer__grid-B col gap-md--">
                        <h5>Главная</h5>
                        <h5>О нас</h5>
                        <h5>Портфолио</h5>
                        <h5>Контакты</h5>
                        <h5>Вакансии</h5>
                        <h5>Блог</h5>
                    </div>
                    <div class="footer__grid-C col gap-md--">
                        <h5 class="color-gray">Услуги</h5>
                        <h5>Комплекс</h5>
                        <h5>Таргет</h5>
                        <h5>Контекст</h5>
                        <h5>Веб-разработка</h5>
                        <h5>Стратегии</h5>
                    </div>
                    <div class="footer__grid-D col gap-md--" >
                        <h5 class="color-gray">Связаться</h5>
                        <div class="row gap-l">
                            <div class="col gap-sm">
                                <h6 class="color-off-white">welcome@mygang.ru</h6>
                                <h6 class="color-off-white">+7 (999) 442 05 26</h6>
                            </div>
                            <img src="../image/vk-white.svg" alt="">
                        </div>
                        <button class="btn-almost-black">Обсудить проект</button>
                        <h6 class="color-gray">Политика конфиденциальности</h6>
                        <h6 class="color-gray">2024 Ⓒ ООО «ГЭНГ»</h6>
                    </div>
                </div>
            </div>
        </footer>

    </div>
</body>
</html>