<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        window.addEventListener('load', function () {
            let scroll_elems = {
                "tags": {"lastX": 0, "ok": false, "el": document.getElementById('tags')},
                "contents": {"lastX": 0, "ok": false, "el": document.getElementById('contents')},
                "customers": {"lastX": 0, "ok": false, "el": document.getElementById('customers')},
                "tariffs": {"lastX": 0, "ok": false, "el": document.getElementById('tariffs')},
                "advantages": {"lastX": 0, "ok": false, "el": document.getElementById('advantages')}
            }

            for (const [key, value] of Object.entries(scroll_elems)) { 
                let el = value["el"];
                el.onmousedown = function (e) {   scroll_elems[key]["ok"] = true;  };
                el.onmousemove = function (e) {   if (value['ok']) el.scrollLeft -= e.clientX - value['lastX'];  value['lastX'] = e.clientX;  };
                scroll_elems[key]["el"] = el; 
            };
            window.onmouseup = function (e) {  scroll_elems["tags"]["ok"] = false;  scroll_elems["contents"]["ok"] = false;
                                               scroll_elems["customers"]["ok"] = false; scroll_elems["tariffs"]["ok"] = false;
                                               scroll_elems["advantages"]["ok"] = false;}
        });
    </script>
</head>
<body>
    <div class="container-page">
        <div class="container-big">
            <header class="header">
                <div class="logo"><img src="../image/logo.svg" alt=""><img class="web" src="../image/GANG.svg" alt=""></div>
                    <img src="../image/burger.svg" alt="">
            </header>
        </div>
        <div class="container mb-10">
            <div class="row gap-md-- scroll" id="tags">
                <button class="btn-red--service color-white">Маркетинговая<wbr>стратегия</button>
                <button class="btn-almost-black--service color-white">Комплексное<wbr>продвижение</button>
                <button class="btn-almost-black--service">Контекстная<wbr>реклама</button>
                <button class="btn-almost-black--service">Таргетированная<wbr>реклама</button>
                <button class="btn-almost-black--service">Веб-разработка</button>
            </div>
        </div>

        <Section id="contents_section">
            <div class="col mb-10 space-l-plus-md">
                <h1 class="color-white w-min">Маркетинговая стратегия</h1>
                <h4 class="color-white">Составим персональный план действий компании по продвижению товаров/услуг на рынке: проанализируем рынок, прямых и косвенных конкурентов, ваш продукт/услуги, соберем всю необходимую аналитическую базу, на основе которой определим позиционирование и атрибуты компании.</h4>
                <h4 class="color-white">Пропишем медиаплан продвижения товара/услуг по рекламным каналам.</h4>
                <div class="row gap-md-- scroll" id="contents">
                    <button class="btn-almost-black">Этапы работы</button>
                    <button class="btn-almost-black">Кейсы</button>
                    <button class="btn-almost-black">Наши клиенты</button>
                    <button class="btn-almost-black">Тарифы</button>
                    <button class="btn-almost-black">Преимущества</button>
                </div>
            </div>
        </Section>
        
        <section id="stages-of-development">
            <div class="col gap-l mb-10">
                <h2>Этапы разработки</h2>
                <div class="row gap-xl">
                    <div class="stage">
                        <h1 class="color-green-gradient">01</h1>
                        <div class="stage__text">
                            <h4>Брифинг и ценопологание</h4>
                            <h5>Вы рассказываете нам о себе и вашем бизнесе, а мы определяем наилучшую стратегию продвижения с помощью контекста.</h5>
                        </div>
                    </div>
                    <div class="stage opacity-40">
                        <h1 class="color-white-gradient">02</h1>
                        <div class="stage__text">
                            <h4>Медиапланирование</h4>
                            <h5>Анализ сайта, целевой аудитории и ее интересов, УТП и разработка стратегии продвижения через контекст (Яндекс.Директ, Google Ads или все сразу).</h5>
                        </div>
                    </div>
                </div>                    

            </div>
        </section>

        <section class="case">
            <h2 class="mb-3">Кейсы</h2>
            <div class="container mb-10">
                <div class="grid-2x2 justify-items-center" style="max-width: 1322px;">
                    <div class="card">
                        <h3 class="text-wrap align-self-end web w-min">Туризм Красноярского края</h3>
                        <h1 class="text-break tablet-mobile">Туризм Красноярского края</h1>
                        <div class="col gap-sm">
                            <span class="tablet-mobile card-context">Маркетинговая стратегия</span>
                            <span class="card-context tablet-mobile">Комплексное продвижение</span>
                        </div>
                    </div>
                    <div class="card">
                        <h3 class="text-wrap align-self-end web w-min">Туризм Красноярского края</h3>
                        <h1 class="text-break tablet-mobile">Туризм Красноярского края</h1>
                        <div class="col gap-sm">
                            <span class="tablet-mobile card-context">Маркетинговая стратегия</span>
                            <span class="card-context tablet-mobile">Комплексное продвижение</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="customers_section">
            <h2 class="mb-3">Наши заказчики</h2>
            <div class="row gap-max align-items-center scroll mb-10" id="customers">
                    <img class="img-mouse-none" src="../image/norilsk.png" alt="">
                    <img class="img-mouse-none" src="../image/g-sushi.png" alt="">
                    <img class="img-mouse-none" src="../image/pepeela.png" alt="">
                    <img class="img-mouse-none" src="../image/norilsk.png" alt="">
            </div>
        </section>

        <section id="tariffs-section">
            <h2 class="mb-2">Тарифы</h2>
            <div class="row space-l-plus-md scroll mb-10" id="tariffs">
                <div class="tarif">
                    <div class="col gap-max">
                        <h2 class="color-black">Fix price</h2>
                        <h3 class="color-black">от 250 000₽</h3>
                        <h4 class="text-wrap color-gray2">Небольшие задачи, ограниченные временем и бюджетом</h4>
                    </div>
                    <div class="col space-l-plus-md">
                        <div class="col gap-sm">
                            <h4 class="text-wrap color-black">Вы получаете готовый проект, выполненный по согласованному ТЗ в заданные сроки</h4>
                            <h4 class="text-wrap color-black">Платите за утвержденный набор функциональности и задач.</h4>
                        </div>
                        <button class="btn-gray"></button>
                    </div>
                </div>
                <div class="tarif">
                    <div class="col gap-max">
                        <h2 class="color-black">Retainer</h2>
                        <h3 class="color-black">от 100 000₽/мес</h3>
                        <h4 class="text-wrap color-gray2">Крупные проекты, которые требуют постоянного развития</h4>
                    </div>
                    <div class="col space-l-plus-md">
                        <div class="col gap-sm">
                            <h4 class="text-wrap color-black">Собираем команду в помощь вашему IT-менеджеру.</h4>
                            <h4 class="text-wrap color-black">Микроменеджмент команды на нашей стороне.</h4>
                            <h4 class="text-wrap color-black">Платите за время команды.</h4>
                        </div>
                        <button class="btn-gray"></button>
                    </div>
                </div>
                <div class="tarif">
                    <div class="col gap-max">
                        <h2 class="color-black text-wrap">Time and Material</h2>
                        <h3 class="color-black">от 250 000₽/мес</h3>
                        <h4 class="text-wrap color-gray2">Средние проекты с гибкой разработкой</h4>
                    </div>
                    <div class="col space-l-plus-md">
                        <div class="col gap-sm">
                            <h4 class="text-wrap color-black">Вы получаете команду профессионалов, которая будет работать по гибкой методологии разработки.</h4>
                            <h4 class="text-wrap color-black">Платите за время команды.</h4>
                        </div>
                        <button class="btn-gray"></button>
                    </div>
                </div>
            </div>
        </section>

        <section class="advantages-section">
            <h2 class="mb-3">Преимущества</h2>
            <div class="row space-l-plus-md scroll mb-10" id="advantages">
                <div class="col gap-md-- advantage">
                    <img class="advantage__img" src="../image/advantages1.png" alt="">
                    <h4 class="color-white">Горячая аудитория</h4>
                    <h4 class="text-wrap color-white40">Вы выбираете, кому показывать рекламу. Контекстная реклама будет показываться только заинтересованным в ваших услугах пользователям поисковых систем.</h4>
                </div>
                <div class="col gap-md-- advantage">
                    <img class="advantage__img" src="../image/advantages2.png" alt="">
                    <h4 class="color-white">Мультиформатность</h4>
                    <h4 class="text-wrap color-white40">Объявления показываются в поисковиках и на медийных площадках (рекламные сети Google и Яндекса). Делаем ресайзы креативов для каждого канала и формата.</h4>
                </div>
                <div class="col gap-md-- advantage">
                    <img class="advantage__img" src="../image/advantages3.png" alt="">
                    <h4 class="color-white">Мгновенный результат</h4>
                    <h4 class="text-wrap color-white40">Первые заявки появляются сразу после запуска контекстной рекламы. Затем их стоимость можно снижать, чтобы за те же деньги привлекать еще больше клиентов.</h4>
                </div>
            </div>

        </section>

        <footer>
            <div class="container-big">
                <div class="footer-container">
                    <div class="footer__grid-A col gap-md--">
                        <div class="logo"><img src="../image/logo.svg" alt=""><img class="web" src="../image/GANG.svg" alt=""></div>
                        <h5 class="color-gray">ООО “ГЭНГ”<br>ОГРН 1212400015783<br>ИНН 2464156107</h5>
                        <h5 class="color-gray">660078, Красноярский край, г Красноярск, пер Афонтовский, зд. 2, помещ. 75 (офис 611)</h5>
                    </div>
                    <div class="footer__grid-B col gap-md--">
                        <h5>Главная</h5>
                        <h5>О нас</h5>
                        <h5>Портфолио</h5>
                        <h5>Контакты</h5>
                        <h5>Вакансии</h5>
                        <h5>Блог</h5>
                    </div>
                    <div class="footer__grid-C col gap-md--">
                        <h5 class="color-gray">Услуги</h5>
                        <h5>Комплекс</h5>
                        <h5>Таргет</h5>
                        <h5>Контекст</h5>
                        <h5>Веб-разработка</h5>
                        <h5>Стратегии</h5>
                    </div>
                    <div class="footer__grid-D col gap-md--" >
                        <h5 class="color-gray">Связаться</h5>
                        <div class="row gap-l">
                            <div class="col gap-sm">
                                <h6 class="color-off-white">welcome@mygang.ru</h6>
                                <h6 class="color-off-white">+7 (999) 442 05 26</h6>
                            </div>
                            <img src="../image/vk-white.svg" alt="">
                        </div>
                        <button class="btn-almost-black">Обсудить проект</button>
                        <h6 class="color-gray">Политика конфиденциальности</h6>
                        <h6 class="color-gray">2024 Ⓒ ООО «ГЭНГ»</h6>
                    </div>
                </div>
            </div>
        </footer>

    </div>
</body>
</html>
