<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="dark">
    <div class="container-page col gap-100-60-40">
        <header class="row justify-content-space-between w-1312 align-items-center" style="height: 120px;">
            <div class="logo"><img src="../image/logo.svg" alt=""><img class="web" src="../image/GANG.svg" alt=""></div>
            <img src="../image/burger.svg" alt="">
        </header>

        <div class="row justify-content-center">
            <div class="w-1088-640-290 col gap-s ">
                <div class="col gap-32-20-20">
                    <h1 class="">АБК «Прагмат»</h1>
                    <div class="grid-2x2 gap-32-20-20">
                        <h3 class="color-gray2">Описание</h3>
                        <h4 class="text-wrap ">Академия обучает специалистов в 6 направлениях на базе более чем 130 программ обучения. Компания насчитывает 120 человек, 2 офиса в центре Южно-Сахалинска и более 10000 обучающихся специалистов в год.</h4>
                    </div>
                </div>
            </div>
        </div> 
        <div class="w-1312 col gap-s ">  
            <img class="border-radius-xl " src="../image/case.png" alt="Сегодня без картинок">
        </div>
        <div class="row justify-content-center">
            <div class="w-1088-640-290 col gap-s ">
                <div class="grid-2x2 gap-32-20-20">
                    <div class="col gap">
                        <h3 class="color-gray2">Проблема</h3>
                        <h4 class="text-wrap ">Масштабы и амбиции академии достигли ограничения старого сайта АБК Прагмат и формата обучения</h4>
                    </div>
                    <div class="col gap">
                        <h3 class="color-gray2">Решение</h3>
                        <h4 class="text-wrap ">Разработка сайта, в первую очередь удобного для абитуриента, для представления программ обучения, создание системы элементов интерфейса для ускорения и упрощения разработки в будующем</h4>
                    </div>
                </div>
            </div> 
        </div> 
        <div class="row justify-content-center">
            <div class="w-1088-640-290 ignore-tags overflow-h row justify-content-center gap-40-20-20">
                <button class="btn-sm btn__red color-white">Маркетинговая<br>стратегия</button>
                <button class="btn-sm border-gray">Контекстная<br>реклама</button>
                <button class="btn-sm border-gray">Таргетированная<br>реклама</button>
                <button class="btn-sm border-gray">Веб-разработка</button>
            </div>
        </div> 

        
        <div class="row justify-content-center">
            <div class="w-1088-640-290 col gap-60-40-20">
                <h1>Анализ бизнеса</h1>
                <img class="border-radius-md" src="../image/case2/analis_buisnes.png" alt="Сегодня без картинок" style="object-fit: cover;max-height: 360px;">
                <div class="grid-2x2 mb-3">
                    <div class="col gap-20-16-16">
                        <h3 class="color-gray2">Исследование</h3>
                        <h4>Основной текст Основной текст Основной текст Основной текст Основной текст Основной текст Основной текст</h4> 
                    </div>
                </div>
                <div class="grid-2x2">
                    <div class="col gap-20-16-16 case1-advantage">
                        <h3 class="color-gray2 ">Конкуренты</h3>
                        <h4 class="text-wrap">Основной текст Основной текст Основной текст Основной текст Основной текст Основной текст Основной текст</h4>
                        <img class="border-radius-md" src="../image/case2/peshki.png" alt="Сегодня без картинок" width="528" height="360">
                    </div>
                    <div class="col gap-20-16-16 case1-advantage">
                        <h3 class="color-gray2 ">Ниша</h3>
                        <h4 class="text-wrap">Основной текст Основной текст Основной текст Основной текст Основной текст Основной текст Основной текст</h4>
                        <img class="border-radius-md" src="../image/case2/fripik.png" alt="Сегодня без картинок" width="528" height="360">
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="w-1088-640-290 col gap-60-40-20">
                <h1>Анализ бизнеса</h1>
                <img class="border-radius-md" src="../image/case2/analis_buisnes.png" alt="Сегодня без картинок" style="object-fit: cover;max-height: 360px;">
                <div class="grid-2x2 mb-3">
                    <div class="col gap-20-16-16">
                        <h3 class="color-gray2">Исследование</h3>
                        <h4>Основной текст Основной текст Основной текст Основной текст Основной текст Основной текст Основной текст</h4> 
                    </div>
                </div>
                <div class="grid-2x2">
                    <div class="col gap-20-16-16 case1-advantage">
                        <h3 class="color-gray2 ">Конкуренты</h3>
                        <h4 class="text-wrap">Основной текст Основной текст Основной текст Основной текст Основной текст Основной текст Основной текст</h4>
                        <img class="border-radius-md" src="../image/case2/peshki.png" alt="Сегодня без картинок" width="528" height="360">
                    </div>
                    <div class="col gap-20-16-16 case1-advantage">
                        <h3 class="color-gray2 ">Ниша</h3>
                        <h4 class="text-wrap">Основной текст Основной текст Основной текст Основной текст Основной текст Основной текст Основной текст</h4>
                        <img class="border-radius-md" src="../image/case2/fripik.png" alt="Сегодня без картинок" width="528" height="360">
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="w-1088-640-290 col gap-60-40-20">
                <h1>Анализ бизнеса</h1>
                <img class="border-radius-md" src="../image/case2/analis_buisnes.png" alt="Сегодня без картинок" style="object-fit: cover;max-height: 360px;">
                <div class="grid-2x2 mb-3">
                    <div class="col gap-20-16-16">
                        <h3 class="color-gray2">Исследование</h3>
                        <h4>Основной текст Основной текст Основной текст Основной текст Основной текст Основной текст Основной текст</h4> 
                    </div>
                </div>
                <div class="grid-2x2">
                    <div class="col gap-20-16-16 case1-advantage">
                        <h3 class="color-gray2 ">Конкуренты</h3>
                        <h4 class="text-wrap">Основной текст Основной текст Основной текст Основной текст Основной текст Основной текст Основной текст</h4>
                        <img class="border-radius-md" src="../image/case2/peshki.png" alt="Сегодня без картинок" width="528" height="360">
                    </div>
                    <div class="col gap-20-16-16 case1-advantage">
                        <h3 class="color-gray2 ">Ниша</h3>
                        <h4 class="text-wrap">Основной текст Основной текст Основной текст Основной текст Основной текст Основной текст Основной текст</h4>
                        <img class="border-radius-md" src="../image/case2/fripik.png" alt="Сегодня без картинок" width="528" height="360">
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="w-1088-640-290 col gap-60-40-20">
                <h1>Анализ бизнеса</h1>
                <img class="border-radius-md" src="../image/case2/analis_buisnes.png" alt="Сегодня без картинок" style="object-fit: cover;max-height: 360px;">
                <div class="grid-2x2 mb-3">
                    <div class="col gap-20-16-16">
                        <h3 class="color-gray2">Исследование</h3>
                        <h4>Основной текст Основной текст Основной текст Основной текст Основной текст Основной текст Основной текст</h4> 
                    </div>
                </div>
                <div class="grid-2x2">
                    <div class="col gap-20-16-16 case1-advantage">
                        <h3 class="color-gray2 ">Конкуренты</h3>
                        <h4 class="text-wrap">Основной текст Основной текст Основной текст Основной текст Основной текст Основной текст Основной текст</h4>
                        <img class="border-radius-md" src="../image/case2/peshki.png" alt="Сегодня без картинок" width="528" height="360">
                    </div>
                    <div class="col gap-20-16-16 case1-advantage">
                        <h3 class="color-gray2 ">Ниша</h3>
                        <h4 class="text-wrap">Основной текст Основной текст Основной текст Основной текст Основной текст Основной текст Основной текст</h4>
                        <img class="border-radius-md" src="../image/case2/fripik.png" alt="Сегодня без картинок" width="528" height="360">
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="w-1088-640-290 ignore-tags overflow-h row justify-content-center gap-40-20-20">
                <button class="btn-sm btn__red color-white">Маркетинговая<br>стратегия</button>
                <button class="btn-sm border-gray">Контекстная<br>реклама</button>
                <button class="btn-sm border-gray">Таргетированная<br>реклама</button>
                <button class="btn-sm border-gray">Веб-разработка</button>
            </div>
        </div>
        

        <div class="w-1312 col">
            <div class="container-h1"><h1 class="text-nowrap">Наши работы</h1></div>
            <div class="grid-2x2 gap-32-32-16">
            <div class="card">
                <h3 class="align-self-end web">Туризм<br>Красноярского<br>края</h3>
                <h1 class="tablet-mobile">Туризм<br>Красноярского<br>края</h1>
                <div class="col gap-sm">
                    <span class="tablet-mobile card-context">Маркетинговая стратегия</span>
                    <span class="card-context tablet-mobile">Комплексное продвижение</span>
                </div>
            </div>
            <div class="card">
                <h3 class="align-self-end web">Туризм<br>Красноярского<br>края</h3>
                <h1 class="tablet-mobile">Туризм<br>Красноярског<br>края</h1>
                <div class="col gap-sm">
                    <span class="tablet-mobile card-context">Маркетинговая стратегия</span>
                    <span class="card-context tablet-mobile">Комплексное продвижение</span>
                </div>
            </div>
            <div class="tablet-mobile">
                <div class="card">
                    <h3 class="align-self-end web">Туризм<br>Красноярского<br>края</h3>
                    <h1 class="tablet-mobile">Туризм<br>Красноярского<br>края</h1>
                    <div class="col gap-sm">
                        <span class="tablet-mobile card-context">Маркетинговая стратегия</span>
                        <span class="card-context tablet-mobile">Комплексное продвижение</span>
                    </div>
                </div>
            </div>
            <div class="tablet-mobile">
                <div class="card">
                    <h3 class="align-self-end web">Туризм<br>Красноярского<br>края</h3>
                    <h1 class="tablet-mobile">Туризм<br>Красноярског<br>края</h1>
                    <div class="col gap-sm">
                        <span class="tablet-mobile card-context">Маркетинговая стратегия</span>
                        <span class="card-context tablet-mobile">Комплексное продвижение</span>
                    </div>
                </div>
            </div>
            <div class="tablet-mobile row justify-content-start "><button class="tablet-mobile bg-off-white btn color-black">Загрузить еще</button></div>
        </div>
        </div>
        <section id="contacts">
            <div class="row justify-content-center">
            <div class="w-1312 col gap-40-16-16">
                <h1 class="color-white">Контакты</h1>
                <div class="contacts__grid">
                    <img class="contacts__map" src="../image/map.png" alt="">                  
                    <div class="contacts__text">
                        <h2 class="color-white">Красноярск</h2>
                        <h4 class="weight-b">У нас есть уютный офис, приходите, обсудим ваш проект или побеседуем в свободной форме</h4>    
                    </div>
                    <div class="contacts__contact-grid grid-2x2-sm">
                        <div class="contacts__item">
                            <span class="contact__h">Адрес</span>
                            <h4 class="color-black align-self-end weight-b">Афонтовский переулок, дом 2, офис 6-01, 6-04, 6-11</h4>
                        </div>
                        <div class="contacts__item">
                            <span class="contact__h">Почта</span>
                            <h4 class="color-black align-self-end weight-b">welcome@mygang.ru</h4>
                        </div>
                        <div class="contacts__item">
                            <span class="contact__h">Социальные сети</span>
                            <img class="align-self-end weight-b" src="../image/vk.svg" alt="">
                        </div>
                        <div class="contacts__item">
                            <span class="contact__h">Телефон</span>
                            <h4 class="color-black align-self-end weight-b">+7 (999) 442 05 26</h4>
                        </div>
                    </div>
                    <button class="bg-off-white btn color-black">Сотрудничать</button>
                </div> 
            </div></div>
        </section>
        <footer>
            <div class="w-1312 mb-big">
                <div class="footer-container">
                    <div class="footer__grid-A col gap-20-16-16">
                        <div class="logo"><img src="../image/logo.svg" alt=""><img src="../image/GANG.svg" alt=""></div>
                        <h5 class="color-gray">ООО “ГЭНГ”<br>ОГРН 1212400015783<br>ИНН 2464156107</h5>
                        <h5 class="color-gray">660078, Красноярский край, г Красноярск, пер Афонтовский, зд. 2, помещ. 75 (офис 611)</h5>
                    </div>
                    <div class="footer__grid-B color-off-white col gap-20-16-16">
                        <h5>Главная</h5>
                        <h5>О нас</h5>
                        <h5>Портфолио</h5>
                        <h5>Контакты</h5>
                        <h5>Вакансии</h5>
                        <h5>Блог</h5>
                    </div>
                    <div class="footer__grid-C color-white col gap-20-16-16">
                        <h5 class="color-gray">Услуги</h5>
                        <h5>Комплекс</h5>
                        <h5>Таргет</h5>
                        <h5>Контекст</h5>
                        <h5>Веб-разработка</h5>
                        <h5>Стратегии</h5>
                    </div>
                    <div class="footer__grid-D col gap-20-16-16" >
                        <h5 class="color-gray">Связаться</h5>
                        <div class="row gap-l">
                            <div class="col gap-sm">
                                <h6>welcome@mygang.ru</h6>
                                <h6>+7 (999) 442 05 26</h6>
                            </div>
                            <img src="../image/vk-white.svg" alt="">
                        </div>
                        <button class="btn border-gray">Обсудить проект</button>
                        <h6 class="color-gray">Политика конфиденциальности</h6>
                        <h6 class="color-gray">2024 Ⓒ ООО «ГЭНГ»</h6>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
