<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&amp;display=swap">
  </head>
  <body> 
    <header>
      <div class="header__logo"><img src="../image/logo.svg" alt=""><img class="header__gang" src="../image/GANG.svg" alt=""></div><img src="../image/burger.svg" alt="">
    </header>
    <div class="mbt-120-80-40"> 
      <div class="case__title"> 
        <h2 class="case__title">АБК «Прагмат»</h2>
        <div class="case__title__text">
          <h6 class="case__title_description">Описание</h6>
          <h6 class="case__title_description__text">Академия обучает специалистов в 6 направлениях на базе более чем 130 программ обучения. Компания насчитывает 120 человек, 2 офиса в центре Южно-Сахалинска и более 10000 обучающихся специалистов в год.</h6>
        </div>
      </div>
    </div>
    <div class="mb-120-80-40"><img class="main__img" src="../image/case.png" alt=""></div>
    <div class="container row-row-col mb-120-80-40 gap-32-32-20">
      <div class="col gap grow">
        <h6 class="case__title_description wrap">Проблема</h6>
        <h6 class="case__title_description__text2">Масштабы и амбиции академии достигли ограничения старого сайта АБК Прагмат и формата обучения</h6>
      </div>
      <div class="col gap grow">
        <h6 class="case__title_description">Решение</h6>
        <h6 class="case__title_description__text2">Разработка сайта, в первую очередь удобного для абитуриента, для представления программ обучения, создание системы элементов интерфейса для ускорения и упрощения разработки в будующем</h6>
      </div>
    </div>
    <div class="container">
      <div class="container__tags_uslugi mb-120-80-40 gap-40-20-20">
        <div class="tag-active">
          <h6 class="text">Маркетинговая<br>стратегия</h6>
        </div>
        <div class="tag">
          <h6 class="text">Контекстная<br>реклама</h6>
        </div>
        <div class="tag">
          <h6 class="text">Таргетированная<br>реклама</h6>
        </div>
        <div class="tag">
          <h6 class="text">Веб-разработка</h6>
        </div>
      </div>
    </div>
    <div class="container mb-120-80-40">
      <div class="col gap-60-40-20">
        <h2 class="case__title"> Анализ бизнеса</h2><img class="main2" src="../image/case1/main.png" alt="">
        <div class="duo_container"> 
          <div class="duo__content">
            <h6 class="case__title_description">Конкурентные преимущества</h6>
            <h6 class="case__title_description__text2">Основной текст Основной текст Основной текст Основной текст Основной текст Основной текст Основной текст</h6><img class="duo_img" src="../image/case1/production.png" alt="">
          </div>
          <div class="duo__content">
            <h6 class="case__title_description">Конкуренты</h6>
            <h6 class="case__title_description__text2">Основной текст Основной текст Основной текст Основной текст Основной текст Основной текст Основной текст</h6><img class="duo_img" src="../image/case1/imglol.svg" alt="">
          </div>
        </div>
        <div class="col gap-md width_case_p_1block">
          <h6 class="case__title_description">Исследование</h6>
          <h6 class="case__title_description__text2">Основной текст Основной текст Основной текст Основной текст Основной текст Основной текст Основной текст</h6>
        </div><img class="main2 tablet" src="../image/case1/conclusions.png" alt="">
        <div class="row-row-col gap-xl"> 
          <div class="col gap-20-16-16 gg">
            <h6 class="case__title_description">Фирменные цвета</h6>
            <h6 class="case__title_description__text2">Выбор корпоративных цветов — одни из основных этапов в разработке фирменного стиля. Исследование «Impact of colour on marketing» показало, что первые выводы о продукте люди делают в течение 90 секунд после знакомства. При этом 62–90% выводов основано на цвете. Цвет транслирует основные ценности бренда, выделяет его среди конкурентов, привлекает целевую аудиторию.</h6><img class="r-xl" src="../image/case1/style.png" alt="">
          </div>
          <div class="col gap-20-16-16 gg">
            <h6 class="case__title_description">Шрифт</h6>
            <h6 class="case__title_description__text2">Текст, который компания размещает в рекламе, на сайте или визитках, должен соответствовать общей айдентике. Для этого нужна разработка шрифта. Разные стили помогают создать полный образ и транслировать ценности. Шрифт доносит до клиентов эмоциональную составляющую бренда на подсознательном уровне.</h6><img class="r-xl" src="../image/case1/spectator.png" alt="">
          </div>
          <div class="col gap-20-16-16 gg">
            <h6 class="case__title_description">Элементы</h6>
            <h6 class="case__title_description__text2">Дизайнеры разрабатывают образцы дополнительных объектов, чтобы создать целостный образ компании. Например, мокапы с фотографиями на сайте или подушек для интерьера кофейни. Решают использовать только чёрно-белые фотографии или фото с естественным светом. Либо подбирают иллюстратора, который работает в нужном стиле.</h6><img class="r-xl" src="../image/case1/museum381.png" alt="">
          </div>
        </div><img class="main2 web" src="../image/case1/conclusions.png" alt="">
      </div>
    </div>
    <div class="container mb-120-80-40">
      <div class="col gap-60-40-20">
        <h2 class="case__title">Выбор стратегии</h2>
        <div class="col gap-md width_case_p_1block">
          <h6 class="case__title_description">Стратегий укрепления позиции</h6>
          <h6 class="case__title_description__text2">Стратегия включает в себя кроссканальность рекламы и повторение итераций продвижения</h6>
        </div><img class="main2" src="../image/case1/cross-channel.png" alt="">
        <div class="duo_container"> 
          <div class="duo__content">
            <h6 class="case__title_description">Позиционирование</h6>
            <h6 class="case__title_description__text2">определение места бренда на рынке относительно конкурентов, а также создание уникального предложения для потребителей. Цель позиционирования — добиться того, чтобы аудитория ассоциировала компанию с определёнными характеристиками</h6><img class="duo_img" src="../image/case1/Positioning.png" alt="">
          </div>
          <div class="duo__content">
            <h6 class="case__title_description">Брендинг</h6>
            <h6 class="case__title_description__text2"> процесс формирования уникального образа и ассоциаций, связанных с брендом, с целью повышения его узнаваемости и лояльности потребителей. Брендинг помогает выделиться на фоне конкурентов, улучшить стиль визуальной коммуникации, увеличить доверие к продукту</h6><img class="duo_img" src="../image/case1/brand.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="container mb-120-80-40">
      <div class="col gap-60-40-20">
        <h2 class="case__title">Медиа план и показатели</h2>
        <div class="col gap-md width_case_p_1block">
          <h6 class="case__title_description">Медиа присутствие</h6>
          <h6 class="case__title_description__text2">Разработка и развитие инструментов повышающих лояльность клиентов и имиджа компании</h6>
        </div><img class="main2" src="../image/case1/cross-channel.png" alt="">
        <div class="row-row-col gap-xl"> 
          <div class="col gap-20-16-16 gg">
            <h6 class="case__title_description">Коммуникация</h6>
            <ul class="markers artical_p m gggggg">
              <li> <a href="">Разработка нового сайта</a></li>
              <li> <a href="">Оформление соцсетей</a></li>
              <li> <a href="">Продвижение сайта</a></li>
              <li> <a href="">Продвижение соцсетей</a></li>
              <li class="m-0"><a href="">Офлайн продвижение (билборд, реклама в супермаркетах, рекламе на тв, реклама на транспорте, реклама в СМИ, участие п продуктовых ярмарках)</a></li>
            </ul><img class="r-xl" src="../image/case1/Communication.png" alt="">
          </div>
          <div class="col gap-20-16-16 gg">
            <h6 class="case__title_description">Показатели</h6>
            <h6 class="case__title_description__text2">Спустя год реализации стратегии получили заметный прирост метрик</h6><img class="r-xl" src="../image/case1/image.png.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="container mb-120-80-40">
      <div class="row-row-col gap-60-20-20"> <img class="last-img" src="../image/case1/detailed.png" alt="">
        <div class="col gap-xl last align-self-end justify-self-center">
          <div class="col gap-md">
            <h3 class="artical_h3">Подробнее</h3>
            <h6 class="case__title_description__text2">Скачайте презентацию маркетинговой стратегии что бы ознакомиться подробнее</h6>
          </div>
          <div class="web">
            <div class="row web">
              <h6 class="case__title_description__text2 mr-50 web">Маркетинговая стратегия Прагмат</h6>
              <h6 class="case__title_description__text3 web">PDF 15 МБ</h6>
            </div>
          </div>
          <div class="col tablet-mobile gap-min">
            <h6 class="case__title_description__text2">Маркетинговая стратегия Прагмат</h6>
            <h6 class="case__title_description__text3">PDF 15 МБ</h6>
          </div>
          <button class="btn-primary-light"> <span>Скачать</span></button>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="container__tags_uslugi mb-120-80-40 gap-40-20-20">
        <div class="tag-active">
          <h6 class="text">Маркетинговая<br>стратегия</h6>
        </div>
        <div class="tag">
          <h6 class="text">Контекстная<br>реклама</h6>
        </div>
        <div class="tag">
          <h6 class="text">Таргетированная<br>реклама</h6>
        </div>
        <div class="tag">
          <h6 class="text">Веб-разработка</h6>
        </div>
      </div>
    </div>
    <div class="our_work-profile">
      <div class="our_work__title">
        <h6>Другие работы</h6>
      </div>
      <div class="container_card_tourism-portfolio">
        <div class="card_tourism">
          <div class="card_tourism__title">
            <h6>Туризм<br>Красноярского<br>края</h6>
          </div>
          <div class="card_tourism__container_context">
            <div class="card_tourism__context">
              <h6>Маркетинговая стратегия</h6>
            </div>
            <div class="card_tourism__context">
              <h6>Комплексное продвижение</h6>
            </div>
          </div>
        </div>
        <div class="card_tourism">
          <div class="card_tourism__title">
            <h6>Туризм<br>Красноярского<br>края</h6>
          </div>
          <div class="card_tourism__container_context">
            <div class="card_tourism__context">
              <h6>Маркетинговая стратегия</h6>
            </div>
            <div class="card_tourism__context">
              <h6>Комплексное продвижение</h6>
            </div>
          </div>
        </div>
        <div class="card_tourism">
          <div class="card_tourism__title">
            <h6>Туризм<br>Красноярского<br>края</h6>
          </div>
          <div class="card_tourism__container_context">
            <div class="card_tourism__context">
              <h6>Маркетинговая стратегия</h6>
            </div>
            <div class="card_tourism__context">
              <h6>Комплексное продвижение</h6>
            </div>
          </div>
        </div>
        <div class="card_tourism">
          <div class="card_tourism__title">
            <h6>Туризм<br>Красноярского<br>края</h6>
          </div>
          <div class="card_tourism__container_context">
            <div class="card_tourism__context">
              <h6>Маркетинговая стратегия</h6>
            </div>
            <div class="card_tourism__context">
              <h6>Комплексное продвижение</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mbt-120-80-40">
      <div class="contacts"> 
        <div class="contacts__title"> 
          <h2>Контакты</h2>
        </div>
        <div class="contacts__container"> <img class="contacts__map web" src="../image/map.png" alt="">
          <div class="contacts__container_text">
            <div class="contacts__main">
              <div class="contacts__text__title"> 
                <h6>Красноярск</h6>
              </div>
              <div class="contacts__text__description"> 
                <h6>У нас есть уютный офис, приходите, обсудим ваш проект или побеседуем в свободной форме</h6>
              </div><img class="contacts__map tablet-mobile" src="../image/map.png" alt="">
              <div class="contacts__text__container__context"> 
                <div class="contacts__text__context">
                  <div class="contacts__text__context__title"> 
                    <h6>Адерс</h6>
                  </div>
                  <div class="contacts__text__context__content">
                    <h6>Афонтовский переулок,<br>дом 2, офис 6-01, 6-04, 6-11</h6>
                  </div>
                </div>
                <div class="contacts__text__context">
                  <div class="contacts__text__context__title"> 
                    <h6>Почта</h6>
                  </div>
                  <div class="contacts__text__context__content">
                    <h6>welcome@mygang.ru</h6>
                  </div>
                </div>
                <div class="contacts__text__context">
                  <div class="contacts__text__context__title"> 
                    <h6>Социальные сети</h6>
                  </div>
                  <div class="contacts__text__context__content"><img src="../image/vk.svg" alt=""></div>
                </div>
                <div class="contacts__text__context">
                  <div class="contacts__text__context__title"> 
                    <h6>Телефон</h6>
                  </div>
                  <div class="contacts__text__context__content">
                    <h6>+7 (999) 442 05 26 </h6>
                  </div>
                </div>
              </div>
              <button class="btn-primary-light"><span>Сотрудничать</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer> 
      <div class="footer__column col-1">
        <div class="footer__logo"> <img class="footer__bird" src="../image/logo.svg" alt=""><img class="footer__GANG" src="../image/GANG.svg" alt=""></div>
        <ul class="footer__column__list footer__column__item color_gray">
          <li>ООО “ГЭНГ”</li>
          <li>ОГРН 1212400015783</li>
          <li>ИНН 2464156107</li>
        </ul>
        <ul class="footer__column__list footer__column__item color_gray">
          <li class="footer__address">660078, Красноярский край, г Красноярск, пер Афонтовский, зд. 2, помещ. 75 (офис 611)</li>
        </ul>
      </div>
      <div class="footer__column col-2">
        <ul class="footer__column__list">
          <li class="footer__column__item"><a href="#">Главная</a></li>
          <li class="footer__column__item"><a href="#">О нас</a></li>
          <li class="footer__column__item"><a href="#">Портфолио</a></li>
          <li class="footer__column__item"><a href="#">Контакты</a></li>
          <li class="footer__column__item"><a href="#">Вакансии</a></li>
          <li class="footer__column__item"><a href="#">Блог</a></li>
        </ul>
      </div>
      <div class="footer__column col-3">
        <ul class="footer__column__list">
          <li class="footer__column__item color_gray"><a href="#">Услуги</a></li>
          <li class="footer__column__item"><a href="#">Комплекс</a></li>
          <li class="footer__column__item"><a href="#">Таргет</a></li>
          <li class="footer__column__item"><a href="#">Контекст</a></li>
          <li class="footer__column__item"><a href="#">Веб-разработка</a></li>
          <li class="footer__column__item"><a href="#">Стратегия</a></li>
        </ul>
      </div>
      <div class="footer__column col-4">
        <ul class="footer__column__list">
          <li class="footer__column__item color_gray"><a href="#">Связаться</a></li>
          <li class="footer__column__item">
            <div class="vk">
              <div>
                <div class="vk__span_first">welcome@mygang.ru</div>
                <div>+7 (999) 442 05 26</div>
              </div><img src="../image/vk-white.svg" alt="">
            </div>
          </li>
          <li class="footer__column__item">
            <button class="btn-secondary-light"><span>Обсудить проект</span></button>
          </li>
          <li class="footer__column__item footer__column__item-text_size_lower color_gray"><a href="">Политика конциальности</a></li>
          <li class="footer__column__item footer__column__item-text_size_lower color_gray"><a href="">2024 Ⓒ ООО «ГЭНГ»</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>