<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="dark">
    <div class="container-page col gap-100-60-40 align-items-center-web">
        <header class="row justify-content-space-between w-1312 align-items-center" style="height: 120px;">
            <div class="logo"><img src="../image/logo.svg" alt=""><img class="web" src="../image/GANG.svg" alt=""></div>
            <img src="../image/burger.svg" alt="">
        </header>
        <div class="row justify-content-center">
            <div class="w-1088-640-290 col gap-md">
                <h1>Работа в GANG</h1>
                <div class="maw-680-640-290 col gap-16-14-12">
                    <h4>Привет! Это GANG уже 5 лет создаем эстетичные и полезные цифровые продукты для бизнеса. Экспериментируем, принимаем смелые решения и несем ответственность за то, что делаем. Тонко чувствуем динамику digital-рынка и индустрии.</h4>
                    <h4>Создаем проекты без «срока годности» — даже спустя много лет они вдохновляют и служат ориентирами.</h4>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="w-1088-640-290">
                <div class="mav-640-640-290 col gap-xl">
                    <h1>Преимущества</h1>
                    <h4 class="text-wrap" style="max-width: 70%;">В GANG мы всегда ищем ярких и талантливых людей, готовых присоединиться к нашей команде. Если вы увлечены маркетингом, готовы развиваться и учиться новому, и хотите работать в динамичной и креативной среде, мы с удовольствием рассмотрим вашу кандидатуру.</h4>    
                </div>
            </div>
        </div>
        <div class="ignore gap-otr-60-28-8 overflow-h row gap-xxl">
            <div class="col gap  ">
                <img class="career__img" src="" alt="">
                <h3 class="text-wrap">Выделенная обеденная зона</h3>
            </div>
            <div class="col gap">
                <img class="career__img" src="" alt="">
                <h3 class="text-wrap">Чистый комфортный офис</h3>
            </div>
            <div class="col gap">
                <img class="career__img" src="" alt="">
                <h3 class="text-wrap">Выделенная обеденная зона</h3>
            </div>
            <div class="col gap">
                <img class="career__img" src="" alt="">
                <h3 class="text-wrap">Чистый комфортный офис</h3>
            </div>
            <div class="col gap">
                <img class="career__img" src="" alt="">
                <h3 class="text-wrap">Выделенная обеденная зона</h3>
            </div>
            <div class="col gap">
                <img class="career__img" src="" alt="">
                <h3 class="text-wrap">Чистый комфортный офис</h3>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="w-1088-640-290 col gap-60-20-20 ">
                <h1>Вакансии</h1>
                <div class="col gap-32-16-16">
                    <h2 class="color-white border-bottom">Frontend разработчик</h2>
                    <h2 class="color-white border-bottom">Backend разработчик</h2>
                    <h2 class="color-white border-bottom">HR менеджер</h2>
                    <h2 class="color-white border-bottom">Менеджер проектов</h2>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="max-width">
                <div class="form ">
                    <div class="form__grid2">
                        <h2 class="color-black form__grid-h2">Не нашли нужную вакансию?</h2>
                        <h4 class="color-black form__grid-textm">Отправьте нам ваше резюме и мы рассмотрим вашу кандидатуры даже если сейчас подходящей вакансии нет</h4>
                        <input class="input__form form__grid-input1" type="text" placeholder="Ваше имя">
                        <input class="input__form form__grid-input2" type="text" placeholder="example@mail.ru">
                        <input class="input__form form__grid-input3" type="text" placeholder="+7 (999) 999-99-99">
                        <input class="input__form form__grid-input4" type="text" placeholder="Ссылка на резюме">
                        <input class="input__form form__grid-input5" type="text" placeholder="Комментарий">
                        <div class="form__grid-checkbox">
                            <label for="checkbox" class="checkbox-label">
                                <input type="checkbox" id="checkbox" class="checkbox">
                                <div class="checkbox-view">
                                  <img src="../image/Rectangle 76.svg" alt="" class="checkbox-icon">
                                </div>
                                <h5 class="color-black">Согласие на обработку персональных данных</h5>
                            </label>
                        </div>
                        <button class="btn-gray-br form__grid-button">Отправить</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="grid-2x2-md gap-40-32-16 maw-1088-640-290 justify-content-center">
                <h1>О нас</h1>
                <div class="o-nas-hard">
                    <div class="o_nas-shadow"></div>
                    <div class="o_nas-shadow2">
                        <div class="o_nas-text gap-sm" style="top: 30%;">
                            <h1 class="ia rostov color-white text-shadow-none ">99%</h1>
                            <h2 class="ib  align-self-end">Проектов</h2>
                            <h4 class="ic align-self-start">Рекомендации - это результат усилий и преданности качеству, которые мы вкладываем в каждый проект</h4>
                        </div>
                        <div class="o_nas-text gap-sm" style="top: 100%;">
                            <h1 class="ia rostov color-white text-shadow-none ">99%</h1>
                            <h2 class="ib  align-self-end">Проектов</h2>
                            <h4 class="ic align-self-start">Рекомендации - это результат усилий и преданности качеству, которые мы вкладываем в каждый проект</h4>
                        </div>
                        <div class="o_nas-text gap-sm" style="top: 170%;">
                            <h1 class="ia rostov color-white text-shadow-none ">99%</h1>
                            <h2 class="ib  align-self-end">Проектов</h2>
                            <h4 class="ic align-self-start">Рекомендации - это результат усилий и преданности качеству, которые мы вкладываем в каждый проект</h4>
                        </div>
                        <div class="o_nas-text gap-sm" style="top: 240%;">
                            <h1 class="ia rostov color-white text-shadow-none ">99%</h1>
                            <h2 class="ib  align-self-end">Проектов</h2>
                            <h4 class="ic align-self-start">Рекомендации - это результат усилий и преданности качеству, которые мы вкладываем в каждый проект</h4>
                        </div>
                        <div class="o_nas-text gap-sm" style="top: 310%;">
                            <h1 class="ia rostov color-white text-shadow-none ">99%</h1>
                            <h2 class="ib  align-self-end">Проектов</h2>
                            <h4 class="ic align-self-start">Рекомендации - это результат усилий и преданности качеству, которые мы вкладываем в каждый проект</h4>
                        </div>
                        <h1 class="rostov letter-spacing-16">486246049793410486246049793410</h1>
                        <h1 class="rostov letter-spacing-16">540186049793471632246049793410</h1>
                        <h1 class="rostov letter-spacing-16">913781257317951832896049793410</h1>
                        <h1 class="rostov letter-spacing-16">484378786491378125471632410812</h1>
                        <h1 class="rostov letter-spacing-16">741637586312827382787825471632</h1>
                        <h1 class="rostov letter-spacing-16">197535371937597592720398743250</h1>
                        <h1 class="rostov letter-spacing-16">753445471868624604979471632130</h1>
                        <h1 class="rostov letter-spacing-16">713575917953197357843575603830</h1>
                        <h1 class="rostov letter-spacing-16">540186464913781254716716322400</h1>
                        <h1 class="rostov letter-spacing-16">179751971979539717975197197953</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-1312 col">
            <div class="container-h1"><h1 class="text-nowrap">Наши работы</h1></div>
            <div class="grid-2x2 gap-32-32-16">
            <div class="card">
                <h3 class="align-self-end web">Туризм<br>Красноярского<br>края</h3>
                <h1 class="tablet-mobile">Туризм<br>Красноярского<br>края</h1>
                <div class="col gap-sm">
                    <span class="tablet-mobile card-context">Маркетинговая стратегия</span>
                    <span class="card-context tablet-mobile">Комплексное продвижение</span>
                </div>
            </div>
            <div class="card">
                <h3 class="align-self-end web">Туризм<br>Красноярского<br>края</h3>
                <h1 class="tablet-mobile">Туризм<br>Красноярског<br>края</h1>
                <div class="col gap-sm">
                    <span class="tablet-mobile card-context">Маркетинговая стратегия</span>
                    <span class="card-context tablet-mobile">Комплексное продвижение</span>
                </div>
            </div>
            <div class="tablet-mobile">
                <div class="card">
                    <h3 class="align-self-end web">Туризм<br>Красноярского<br>края</h3>
                    <h1 class="tablet-mobile">Туризм<br>Красноярского<br>края</h1>
                    <div class="col gap-sm">
                        <span class="tablet-mobile card-context">Маркетинговая стратегия</span>
                        <span class="card-context tablet-mobile">Комплексное продвижение</span>
                    </div>
                </div>
            </div>
            <div class="tablet-mobile">
                <div class="card">
                    <h3 class="align-self-end web">Туризм<br>Красноярского<br>края</h3>
                    <h1 class="tablet-mobile">Туризм<br>Красноярског<br>края</h1>
                    <div class="col gap-sm">
                        <span class="tablet-mobile card-context">Маркетинговая стратегия</span>
                        <span class="card-context tablet-mobile">Комплексное продвижение</span>
                    </div>
                </div>
            </div>
            <div class="tablet-mobile row justify-content-start "><button class="tablet-mobile bg-off-white btn color-black">Загрузить еще</button></div>
        </div>
    </div>

        <section id="contacts">
            <div class="row justify-content-center">
            <div class="w-1312 col gap-40-16-16">
                <h1 class="color-white">Контакты</h1>
                <div class="contacts__grid">
                    <img class="contacts__map" src="../image/map.png" alt="">                  
                    <div class="contacts__text">
                        <h2 class="color-white">Красноярск</h2>
                        <h4 class="weight-b">У нас есть уютный офис, приходите, обсудим ваш проект или побеседуем в свободной форме</h4>    
                    </div>
                    <div class="contacts__contact-grid grid-2x2-sm">
                        <div class="contacts__item">
                            <span class="contact__h">Адрес</span>
                            <h4 class="color-black align-self-end weight-b">Афонтовский переулок, дом 2, офис 6-01, 6-04, 6-11</h4>
                        </div>
                        <div class="contacts__item">
                            <span class="contact__h">Почта</span>
                            <h4 class="color-black align-self-end weight-b">welcome@mygang.ru</h4>
                        </div>
                        <div class="contacts__item">
                            <span class="contact__h">Социальные сети</span>
                            <img class="align-self-end weight-b" src="../image/vk.svg" alt="">
                        </div>
                        <div class="contacts__item">
                            <span class="contact__h">Телефон</span>
                            <h4 class="color-black align-self-end weight-b">+7 (999) 442 05 26</h4>
                        </div>
                    </div>
                    <button class="bg-off-white btn color-black">Сотрудничать</button>
                </div> 
            </div></div>
        </section>

        <footer>
            <div class="w-1312 mb-big">
                <div class="footer-container">
                    <div class="footer__grid-A col gap-20-16-16">
                        <div class="logo"><img src="../image/logo.svg" alt=""><img src="../image/GANG.svg" alt=""></div>
                        <h5 class="color-gray">ООО “ГЭНГ”<br>ОГРН 1212400015783<br>ИНН 2464156107</h5>
                        <h5 class="color-gray">660078, Красноярский край, г Красноярск, пер Афонтовский, зд. 2, помещ. 75 (офис 611)</h5>
                    </div>
                    <div class="footer__grid-B color-off-white col gap-20-16-16">
                        <h5>Главная</h5>
                        <h5>О нас</h5>
                        <h5>Портфолио</h5>
                        <h5>Контакты</h5>
                        <h5>Вакансии</h5>
                        <h5>Блог</h5>
                    </div>
                    <div class="footer__grid-C color-white col gap-20-16-16">
                        <h5 class="color-gray">Услуги</h5>
                        <h5>Комплекс</h5>
                        <h5>Таргет</h5>
                        <h5>Контекст</h5>
                        <h5>Веб-разработка</h5>
                        <h5>Стратегии</h5>
                    </div>
                    <div class="footer__grid-D col gap-20-16-16" >
                        <h5 class="color-gray">Связаться</h5>
                        <div class="row gap-l">
                            <div class="col gap-sm">
                                <h6>welcome@mygang.ru</h6>
                                <h6>+7 (999) 442 05 26</h6>
                            </div>
                            <img src="../image/vk-white.svg" alt="">
                        </div>
                        <button class="btn border-gray">Обсудить проект</button>
                        <h6 class="color-gray">Политика конфиденциальности</h6>
                        <h6 class="color-gray">2024 Ⓒ ООО «ГЭНГ»</h6>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>

