<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&amp;display=swap">
  </head>
  <body> 
    <header>
      <div class="header__logo"><img src="../image/logo.svg" alt=""><img class="header__gang" src="../image/GANG.svg" alt=""></div><img src="../image/burger.svg" alt="">
    </header>
    <div class="gang_description"> 
      <div class="gang_description__GANG">
        <h1>GANG</h1>
      </div>
      <div class="container__text_gang_description">
        <div class="gang_description__text"> <span class="web">Маркетинговое агентство, специализирующееся на качественной работе и конкурентоспособности. Наша команда состоит из профессионалов в области маркетинга, готовых помочь вам улучшить узнаваемость бренда, увеличить продажи и привлечь внимание целевой аудитории.</span><span class="tablet-mobile">Мы - GANG, маркетинговое агентство, которое умеет делать красиво и заставлять конкурентов кусать локти. Наша команда состоит из гуру в сфере маркетинга, которые готовы помочь вам повысить узнаваемость вашего бренда, увеличить продажи и завоевать внимание вашей целевой аудитории.</span></div>
        <div class="gang_description__advanture"> <span>150+</span></div>
        <div class="gang_description__advanture_text"> <span>Реализованных проектов</span></div>
        <div class="gang_description__explanation"><span>Это число успешно завершенных проектов, над которыми работала компания</span></div>
      </div>
    </div>
    <div class="team"> 
      <div class="team__title"> 
        <h2>Наша команда</h2>
      </div>
      <div class="team__cards">
        <div class="team__card"> 
          <div class="team__card__photo"> </div>
          <div class="team__card__name"> <span>Алексей Заречнев</span></div>
          <div class="team__card__post"><span>Генеральный директор</span></div>
        </div>
        <div class="team__card new_row">
          <div class="team__card__photo"> </div>
          <div class="team__card__name"> <span>Алексей Заречнев</span></div>
          <div class="team__card__post"><span>Генеральный директор</span></div>
        </div>
        <div class="team__card"> 
          <div class="team__card__photo"> </div>
          <div class="team__card__name"> <span>Алексей Заречнев</span></div>
          <div class="team__card__post"><span>Генеральный директор</span></div>
        </div>
        <div class="team__card"> 
          <div class="team__card__photo"> </div>
          <div class="team__card__name"> <span>Алексей Заречнев</span></div>
          <div class="team__card__post"><span>Генеральный директор</span></div>
        </div>
        <div class="team__card"> 
          <div class="team__card__photo"> </div>
          <div class="team__card__name"> <span>Алексей Заречнев</span></div>
          <div class="team__card__post"><span>Генеральный директор</span></div>
        </div>
        <div class="team__card"> 
          <div class="team__card__photo"> </div>
          <div class="team__card__name"> <span>Алексей Заречнев</span></div>
          <div class="team__card__post"><span>Генеральный директор</span></div>
        </div>
        <div class="team__card"> 
          <div class="team__card__photo"> </div>
          <div class="team__card__name"> <span>Алексей Заречнев</span></div>
          <div class="team__card__post"><span>Генеральный директор</span></div>
        </div>
      </div>
    </div>
    <div class="qualification">
      <div class="qualification__title">
        <h2>Квалификации</h2>
      </div>
      <div class="qualification__people">
        <div class="qualification__human">
          <div class="qualification__human__name">
            <h6>Григорий Андреенко</h6>
          </div>
          <div class="qualification__human__post">
            <h6>Дизайнер</h6>
          </div>
          <div class="qualification__human__curses">
            <div class="qualification__human__curs">
              <div class="qualification__human__curs__title">
                <h6>Продуктовый подход для дизайнера</h6>
              </div><img class="qualification__human__curs__img" src="" alt="">
            </div>
            <div class="qualification__human__curs">
              <div class="qualification__human__curs__title">
                <h6>Продуктовый подход для дизайнера</h6>
              </div><img class="qualification__human__curs__img" src="" alt="">
            </div>
          </div>
        </div>
        <div class="qualification__human">
          <div class="qualification__human__name">
            <h6>Григорий Андреенко</h6>
          </div>
          <div class="qualification__human__post">
            <h6>Дизайнер</h6>
          </div>
          <div class="qualification__human__curses">
            <div class="qualification__human__curs">
              <div class="qualification__human__curs__title">
                <h6>Продуктовый подход для дизайнера</h6>
              </div><img class="qualification__human__curs__img" src="" alt="">
            </div>
            <div class="qualification__human__curs">
              <div class="qualification__human__curs__title">
                <h6>Продуктовый подход для дизайнера</h6>
              </div><img class="qualification__human__curs__img" src="" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="career">
      <div class="career__text"> 
        <div class="career__title"> 
          <h2>Карьера</h2>
        </div>
        <div class="career__description"> 
          <h6>В GANG мы всегда ищем ярких и талантливых людей, готовых присоединиться к нашей команде. Если вы увлечены маркетингом, готовы развиваться и учиться новому, и хотите работать в динамичной и креативной среде, мы с удовольствием рассмотрим вашу кандидатуру.</h6>
        </div>
      </div>
      <div class="career__advantages">
        <div class="advantage"> <img class="advantage__img" src="" alt="">
          <div class="advantage__text">
            <h6>Выделенная обеденная зона</h6>
          </div>
        </div>
        <div class="advantage"> <img class="advantage__img" src="" alt="">
          <div class="advantage__text">
            <h6>Выделенная обеденная зона</h6>
          </div>
        </div>
        <div class="advantage"> <img class="advantage__img" src="" alt="">
          <div class="advantage__text">
            <h6>Выделенная обеденная зона</h6>
          </div>
        </div>
        <div class="advantage"> <img class="advantage__img" src="" alt="">
          <div class="advantage__text">
            <h6>Выделенная обеденная зона</h6>
          </div>
        </div>
        <div class="advantage"> <img class="advantage__img" src="" alt="">
          <div class="advantage__text">
            <h6>Выделенная обеденная зона</h6>
          </div>
        </div>
      </div>
      <button class="btn-primary-light align-self-end"><span>Вакансии</span></button>
    </div>
    <div class="our_work"> 
      <div class="our_work__title">
        <h6>Наши работы</h6>
      </div>
      <div class="container_card_tourism">
        <div class="card_tourism">
          <div class="card_tourism__title">
            <h6>Туризм<br>Красноярского<br>края</h6>
          </div>
          <div class="card_tourism__container_context">
            <div class="card_tourism__context">
              <h6>Маркетинговая стратегия</h6>
            </div>
            <div class="card_tourism__context">
              <h6>Комплексное продвижение</h6>
            </div>
          </div>
        </div>
        <div class="card_tourism">
          <div class="card_tourism__title">
            <h6>Туризм<br>Красноярского<br>края</h6>
          </div>
          <div class="card_tourism__container_context">
            <div class="card_tourism__context">
              <h6>Маркетинговая стратегия</h6>
            </div>
            <div class="card_tourism__context">
              <h6>Комплексное продвижение</h6>
            </div>
          </div>
        </div>
        <div class="tablet-mobile"> 
          <div class="card_tourism">
            <div class="card_tourism__title">
              <h6>Туризм<br>Красноярского<br>края</h6>
            </div>
            <div class="card_tourism__container_context">
              <div class="card_tourism__context">
                <h6>Маркетинговая стратегия</h6>
              </div>
              <div class="card_tourism__context">
                <h6>Комплексное продвижение</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="tablet-mobile"> 
          <div class="card_tourism">
            <div class="card_tourism__title">
              <h6>Туризм<br>Красноярского<br>края</h6>
            </div>
            <div class="card_tourism__container_context">
              <div class="card_tourism__context">
                <h6>Маркетинговая стратегия</h6>
              </div>
              <div class="card_tourism__context">
                <h6>Комплексное продвижение</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="btn-primary-light align-self-end tablet-mobile"><span>Смотреть все</span></button>
    </div>
    <div class="mbt-120-80-60">
      <div class="contacts"> 
        <div class="contacts__title"> 
          <h2>Контакты</h2>
        </div>
        <div class="contacts__container"> <img class="contacts__map web" src="../image/map.png" alt="">
          <div class="contacts__container_text">
            <div class="contacts__main">
              <div class="contacts__text__title"> 
                <h6>Красноярск</h6>
              </div>
              <div class="contacts__text__description"> 
                <h6>У нас есть уютный офис, приходите, обсудим ваш проект или побеседуем в свободной форме</h6>
              </div><img class="contacts__map tablet-mobile" src="../image/map.png" alt="">
              <div class="contacts__text__container__context"> 
                <div class="contacts__text__context">
                  <div class="contacts__text__context__title"> 
                    <h6>Адерс</h6>
                  </div>
                  <div class="contacts__text__context__content">
                    <h6>Афонтовский переулок,<br>дом 2, офис 6-01, 6-04, 6-11</h6>
                  </div>
                </div>
                <div class="contacts__text__context">
                  <div class="contacts__text__context__title"> 
                    <h6>Почта</h6>
                  </div>
                  <div class="contacts__text__context__content">
                    <h6>welcome@mygang.ru</h6>
                  </div>
                </div>
                <div class="contacts__text__context">
                  <div class="contacts__text__context__title"> 
                    <h6>Социальные сети</h6>
                  </div>
                  <div class="contacts__text__context__content"><img src="../image/vk.svg" alt=""></div>
                </div>
                <div class="contacts__text__context">
                  <div class="contacts__text__context__title"> 
                    <h6>Телефон</h6>
                  </div>
                  <div class="contacts__text__context__content">
                    <h6>+7 (999) 442 05 26 </h6>
                  </div>
                </div>
              </div>
              <button class="btn-primary-light"><span>Сотрудничать</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer> 
      <div class="footer__column col-1">
        <div class="footer__logo"> <img class="footer__bird" src="../image/logo.svg" alt=""><img class="footer__GANG" src="../image/GANG.svg" alt=""></div>
        <ul class="footer__column__list footer__column__item color_gray">
          <li>ООО “ГЭНГ”</li>
          <li>ОГРН 1212400015783</li>
          <li>ИНН 2464156107</li>
        </ul>
        <ul class="footer__column__list footer__column__item color_gray">
          <li class="footer__address">660078, Красноярский край, г Красноярск, пер Афонтовский, зд. 2, помещ. 75 (офис 611)</li>
        </ul>
      </div>
      <div class="footer__column col-2">
        <ul class="footer__column__list">
          <li class="footer__column__item"><a href="#">Главная</a></li>
          <li class="footer__column__item"><a href="#">О нас</a></li>
          <li class="footer__column__item"><a href="#">Портфолио</a></li>
          <li class="footer__column__item"><a href="#">Контакты</a></li>
          <li class="footer__column__item"><a href="#">Вакансии</a></li>
          <li class="footer__column__item"><a href="#">Блог</a></li>
        </ul>
      </div>
      <div class="footer__column col-3">
        <ul class="footer__column__list">
          <li class="footer__column__item color_gray"><a href="#">Услуги</a></li>
          <li class="footer__column__item"><a href="#">Комплекс</a></li>
          <li class="footer__column__item"><a href="#">Таргет</a></li>
          <li class="footer__column__item"><a href="#">Контекст</a></li>
          <li class="footer__column__item"><a href="#">Веб-разработка</a></li>
          <li class="footer__column__item"><a href="#">Стратегия</a></li>
        </ul>
      </div>
      <div class="footer__column col-4">
        <ul class="footer__column__list">
          <li class="footer__column__item color_gray"><a href="#">Связаться</a></li>
          <li class="footer__column__item">
            <div class="vk">
              <div>
                <div class="vk__span_first">welcome@mygang.ru</div>
                <div>+7 (999) 442 05 26</div>
              </div><img src="../image/vk-white.svg" alt="">
            </div>
          </li>
          <li class="footer__column__item">
            <button class="btn-secondary-light"><span>Обсудить проект</span></button>
          </li>
          <li class="footer__column__item footer__column__item-text_size_lower color_gray"><a href="">Политика конциальности</a></li>
          <li class="footer__column__item footer__column__item-text_size_lower color_gray"><a href="">2024 Ⓒ ООО «ГЭНГ»</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>