<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&amp;display=swap">
  </head>
  <body> 
    <header>
      <div class="header__logo"><img src="../image/logo.svg" alt=""><img class="header__gang" src="../image/GANG.svg" alt=""></div><img src="../image/burger.svg" alt="">
    </header>
    <div class="our_work-profile">
      <div class="our_work__title">
        <h6>Наши работы</h6>
      </div>
      <div class="container__tags"> 
        <div class="tag-active">
          <h6 class="text">Все проекты</h6>
        </div>
        <div class="tag">
          <h6 class="text">Маркетинговая стратегия</h6>
        </div>
        <div class="tag">
          <h6 class="text">Веб-разработка</h6>
        </div>
        <div class="tag">
          <h6 class="text">Таргет</h6>
        </div>
        <div class="tag">
          <h6 class="text">Контекст</h6>
        </div>
      </div>
      <div class="container_card_tourism-portfolio">
        <div class="card_tourism">
          <div class="card_tourism__title">
            <h6>Туризм<br>Красноярского<br>края</h6>
          </div>
          <div class="card_tourism__container_context">
            <div class="card_tourism__context">
              <h6>Маркетинговая стратегия</h6>
            </div>
            <div class="card_tourism__context">
              <h6>Комплексное продвижение</h6>
            </div>
          </div>
        </div>
        <div class="card_tourism">
          <div class="card_tourism__title">
            <h6>Туризм<br>Красноярского<br>края</h6>
          </div>
          <div class="card_tourism__container_context">
            <div class="card_tourism__context">
              <h6>Маркетинговая стратегия</h6>
            </div>
            <div class="card_tourism__context">
              <h6>Комплексное продвижение</h6>
            </div>
          </div>
        </div>
        <div class="card_tourism">
          <div class="card_tourism__title">
            <h6>Туризм<br>Красноярского<br>края</h6>
          </div>
          <div class="card_tourism__container_context">
            <div class="card_tourism__context">
              <h6>Маркетинговая стратегия</h6>
            </div>
            <div class="card_tourism__context">
              <h6>Комплексное продвижение</h6>
            </div>
          </div>
        </div>
        <div class="card_tourism">
          <div class="card_tourism__title">
            <h6>Туризм<br>Красноярского<br>края</h6>
          </div>
          <div class="card_tourism__container_context">
            <div class="card_tourism__context">
              <h6>Маркетинговая стратегия</h6>
            </div>
            <div class="card_tourism__context">
              <h6>Комплексное продвижение</h6>
            </div>
          </div>
        </div>
      </div>
      <button class="btn-primary-light align-self-center"><span>Загрузить ещё</span></button>
    </div>
    <div class="mbt-120-80-40">
      <div class="contacts"> 
        <div class="contacts__title"> 
          <h2>Контакты</h2>
        </div>
        <div class="contacts__container"> <img class="contacts__map web" src="../image/map.png" alt="">
          <div class="contacts__container_text">
            <div class="contacts__main">
              <div class="contacts__text__title"> 
                <h6>Красноярск</h6>
              </div>
              <div class="contacts__text__description"> 
                <h6>У нас есть уютный офис, приходите, обсудим ваш проект или побеседуем в свободной форме</h6>
              </div><img class="contacts__map tablet-mobile" src="../image/map.png" alt="">
              <div class="contacts__text__container__context"> 
                <div class="contacts__text__context">
                  <div class="contacts__text__context__title"> 
                    <h6>Адерс</h6>
                  </div>
                  <div class="contacts__text__context__content">
                    <h6>Афонтовский переулок,<br>дом 2, офис 6-01, 6-04, 6-11</h6>
                  </div>
                </div>
                <div class="contacts__text__context">
                  <div class="contacts__text__context__title"> 
                    <h6>Почта</h6>
                  </div>
                  <div class="contacts__text__context__content">
                    <h6>welcome@mygang.ru</h6>
                  </div>
                </div>
                <div class="contacts__text__context">
                  <div class="contacts__text__context__title"> 
                    <h6>Социальные сети</h6>
                  </div>
                  <div class="contacts__text__context__content"><img src="../image/vk.svg" alt=""></div>
                </div>
                <div class="contacts__text__context">
                  <div class="contacts__text__context__title"> 
                    <h6>Телефон</h6>
                  </div>
                  <div class="contacts__text__context__content">
                    <h6>+7 (999) 442 05 26 </h6>
                  </div>
                </div>
              </div>
              <button class="btn-primary-light"><span>Сотрудничать</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer> 
      <div class="footer__column col-1">
        <div class="footer__logo"> <img class="footer__bird" src="../image/logo.svg" alt=""><img class="footer__GANG" src="../image/GANG.svg" alt=""></div>
        <ul class="footer__column__list footer__column__item color_gray">
          <li>ООО “ГЭНГ”</li>
          <li>ОГРН 1212400015783</li>
          <li>ИНН 2464156107</li>
        </ul>
        <ul class="footer__column__list footer__column__item color_gray">
          <li class="footer__address">660078, Красноярский край, г Красноярск, пер Афонтовский, зд. 2, помещ. 75 (офис 611)</li>
        </ul>
      </div>
      <div class="footer__column col-2">
        <ul class="footer__column__list">
          <li class="footer__column__item"><a href="#">Главная</a></li>
          <li class="footer__column__item"><a href="#">О нас</a></li>
          <li class="footer__column__item"><a href="#">Портфолио</a></li>
          <li class="footer__column__item"><a href="#">Контакты</a></li>
          <li class="footer__column__item"><a href="#">Вакансии</a></li>
          <li class="footer__column__item"><a href="#">Блог</a></li>
        </ul>
      </div>
      <div class="footer__column col-3">
        <ul class="footer__column__list">
          <li class="footer__column__item color_gray"><a href="#">Услуги</a></li>
          <li class="footer__column__item"><a href="#">Комплекс</a></li>
          <li class="footer__column__item"><a href="#">Таргет</a></li>
          <li class="footer__column__item"><a href="#">Контекст</a></li>
          <li class="footer__column__item"><a href="#">Веб-разработка</a></li>
          <li class="footer__column__item"><a href="#">Стратегия</a></li>
        </ul>
      </div>
      <div class="footer__column col-4">
        <ul class="footer__column__list">
          <li class="footer__column__item color_gray"><a href="#">Связаться</a></li>
          <li class="footer__column__item">
            <div class="vk">
              <div>
                <div class="vk__span_first">welcome@mygang.ru</div>
                <div>+7 (999) 442 05 26</div>
              </div><img src="../image/vk-white.svg" alt="">
            </div>
          </li>
          <li class="footer__column__item">
            <button class="btn-secondary-light"><span>Обсудить проект</span></button>
          </li>
          <li class="footer__column__item footer__column__item-text_size_lower color_gray"><a href="">Политика конциальности</a></li>
          <li class="footer__column__item footer__column__item-text_size_lower color_gray"><a href="">2024 Ⓒ ООО «ГЭНГ»</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>