<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&amp;display=swap">
  </head>
  <body> 
    <header>
      <div class="header__logo"><img src="../image/logo.svg" alt=""><img class="header__gang" src="../image/GANG.svg" alt=""></div><img src="../image/burger.svg" alt="">
    </header>
    <div class="our_work-profile">
      <div class="our_work__title">
        <h6>Наши услуги</h6>
      </div>
      <div class="container__tags_uslugi">
        <div class="tag-active">
          <h6 class="text">Маркетинговая<br>стратегия</h6>
        </div>
        <div class="tag">
          <h6 class="text">Комплексное<br>продвижение</h6>
        </div>
        <div class="tag">
          <h6 class="text">Контекстная<br>реклама</h6>
        </div>
        <div class="tag">
          <h6 class="text">Таргетированная<br>реклама</h6>
        </div>
        <div class="tag">
          <h6 class="text">Веб-разработка</h6>
        </div>
      </div>
    </div>
    <div class="mt-120-80-40">
      <div class="usluga_container">
        <div class="usluga__title"> 
          <h2>Маркетинговая стратегия</h2>
        </div>
        <div> 
          <p class="uslugi_p">Составим персональный план действий компании по продвижению товаров/услуг на рынке: проанализируем рынок, прямых и косвенных конкурентов, ваш продукт/услуги, соберем всю необходимую аналитическую базу, на основе которой определим позиционирование и атрибуты компании </p>
          <p class="uslugi_p">Пропишем медиаплан продвижения товара/услуг по рекламным каналам.</p>
        </div>
        <div class="usluga_container_tags"> 
          <div class="tag">
            <h6 class="text">Этапы работы</h6>
          </div>
          <div class="tag">
            <h6 class="text">Кейсы</h6>
          </div>
          <div class="tag">
            <h6 class="text">Наши клиенты</h6>
          </div>
          <div class="tag">
            <h6 class="text">Тарифы</h6>
          </div>
          <div class="tag">
            <h6 class="text">Преимущества</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-120-80-40"> 
      <div class="stages_container"> 
        <div class="stages_title"> 
          <h6>Этапы работы</h6>
        </div>
        <div class="stages">
          <div class="stasge"> 
            <div class="stage__number"> 
              <h6>01</h6>
            </div>
            <div class="stage_col_text"> 
              <div class="stage__title"> 
                <h6>Брифинг и ценопологание</h6>
              </div>
              <div class="stage__text">
                <h6>Вы рассказываете нам о себе и вашем бизнесе, а мы определяем наилучшую стратегию продвижения с помощью контекста.</h6>
              </div>
            </div>
          </div>
          <div class="stasge stage-next">
            <div class="stage__number_next"> 
              <h6>02</h6>
            </div>
            <div class="stage_col_text"> 
              <div class="stage__title"> 
                <h6>Медиапланирование</h6>
              </div>
              <div class="stage__text">
                <h6>Анализ сайта, целевой аудитории и ее интересов, УТП и разработка стратегии продвижения через контекст (Яндекс.Директ, Google Ads или все сразу).</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-120-80-40">
      <div class="case__container">
        <div class="stages_title">
          <h6>Кейсы</h6>
        </div>
        <div class="container_card_tourism-portfolio">
          <div class="card_tourism">
            <div class="card_tourism__title">
              <h6>Туризм<br>Красноярского<br>края</h6>
            </div>
            <div class="card_tourism__container_context">
              <div class="card_tourism__context">
                <h6>Маркетинговая стратегия</h6>
              </div>
              <div class="card_tourism__context">
                <h6>Комплексное продвижение</h6>
              </div>
            </div>
          </div>
          <div class="card_tourism">
            <div class="card_tourism__title">
              <h6>Туризм<br>Красноярского<br>края</h6>
            </div>
            <div class="card_tourism__container_context">
              <div class="card_tourism__context">
                <h6>Маркетинговая стратегия</h6>
              </div>
              <div class="card_tourism__context">
                <h6>Комплексное продвижение</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-120-80-40">
      <div class="customers__container">
        <div class="stages_title">
          <h6>Наши заказчики</h6>
        </div>
        <div class="customers">
          <picture> 
            <source media="(min-width: 1366px)" srcset="../image/norilsk/big.png">
            <source media="(min-width: 744px)" srcset="../image/norilsk/medium.png">
            <source media="(min-width: 100px)" srcset="../image/norilsk/small.png"><img src="../image/norilsk/big.png" alt="">
          </picture>
          <picture> 
            <source media="(min-width: 1366px)" srcset="../image/g-sushi/big.png">
            <source media="(min-width: 744px)" srcset="../image/g-sushi/medium.png">
            <source media="(min-width: 100px)" srcset="../image/g-sushi/small.png"><img src="../image/norilsk/big.png" alt="">
          </picture>
          <picture> 
            <source media="(min-width: 1366px)" srcset="../image/pepela/big.png">
            <source media="(min-width: 744px)" srcset="../image/pepela/medium.png">
            <source media="(min-width: 100px)" srcset="../image/pepela/small.png"><img src="../image/norilsk/big.png" alt="">
          </picture>
          <picture> 
            <source media="(min-width: 1366px)" srcset="../image/norilsk/big.png">
            <source media="(min-width: 744px)" srcset="../image/norilsk/medium.png">
            <source media="(min-width: 100px)" srcset="../image/norilsk/small.png"><img src="../image/norilsk/big.png" alt="">
          </picture>
          <picture> 
            <source media="(min-width: 1366px)" srcset="../image/g-sushi/big.png">
            <source media="(min-width: 744px)" srcset="../image/g-sushi/medium.png">
            <source media="(min-width: 100px)" srcset="../image/g-sushi/small.png"><img src="../image/norilsk/big.png" alt="">
          </picture>
        </div>
      </div>
    </div>
    <div class="mt-120-80-40">
      <div class="customers__container"> 
        <div class="stages_title">
          <h6>Наши заказчики</h6>
        </div>
        <div class="tarif_row"> 
          <div class="tarif"> 
            <div class="tarif__top"> 
              <h6 class="tarif__title">Fix Price</h6>
              <h6 class="tarif__price">от 250 000₽</h6>
              <h6 class="tarif__text">Небольшие задачи, ограниченные временем и бюджетом</h6>
            </div>
            <div class="tarif__bottom"> 
              <div> 
                <h6>Вы получаете готовый проект, выполненный по согласованному ТЗ в заданные сроки</h6>
                <h6 class="mg-8">Платите за утвержденный набор функциональности и задач.</h6>
              </div>
              <button class="btn-secondary-light color-dark2"><span class="color-dark2">Оформить заявку</span></button>
            </div>
          </div>
          <div class="tarif"> 
            <div class="tarif__top"> 
              <h6 class="tarif__title">Fix Price</h6>
              <h6 class="tarif__price">от 250 000₽</h6>
              <h6 class="tarif__text">Небольшие задачи, ограниченные временем и бюджетом</h6>
            </div>
            <div class="tarif__bottom"> 
              <div> 
                <h6>Вы получаете готовый проект, выполненный по согласованному ТЗ в заданные сроки</h6>
                <h6 class="mg-8">Платите за утвержденный набор функциональности и задач.</h6>
              </div>
              <button class="btn-secondary-light color-dark2"><span class="color-dark2">Оформить заявку</span></button>
            </div>
          </div>
          <div class="tarif"> 
            <div class="tarif__top"> 
              <h6 class="tarif__title">Fix Price</h6>
              <h6 class="tarif__price">от 250 000₽</h6>
              <h6 class="tarif__text">Небольшие задачи, ограниченные временем и бюджетом</h6>
            </div>
            <div class="tarif__bottom"> 
              <div> 
                <h6>Вы получаете готовый проект, выполненный по согласованному ТЗ в заданные сроки</h6>
                <h6 class="mg-8">Платите за утвержденный набор функциональности и задач.</h6>
              </div>
              <button class="btn-secondary-light color-dark2"><span class="color-dark2">Оформить заявку</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mbt-120-80-40">
      <div class="uslugi__advantages">
        <div class="stages_title">
          <h6>Преимущества</h6>
        </div>
        <div class="uslugi__advantages_row"> 
          <div class="uslugi__advantage"><img class="uslugi__advantage__img" src="" alt="">
            <div class="uslugi__advantage__text__container">
              <h6 class="uslugi__advantage__title">Горячая аудитория</h6>
              <h6 class="uslugi__advantage__text">Вы выбираете, кому показывать рекламу. Контекстная реклама будет показываться только заинтересованным в ваших услугах пользователям поисковых систем.</h6>
            </div>
          </div>
          <div class="uslugi__advantage"><img class="uslugi__advantage__img" src="" alt="">
            <div class="uslugi__advantage__text__container">
              <h6 class="uslugi__advantage__title">Горячая аудитория</h6>
              <h6 class="uslugi__advantage__text">Вы выбираете, кому показывать рекламу. Контекстная реклама будет показываться только заинтересованным в ваших услугах пользователям поисковых систем.</h6>
            </div>
          </div>
          <div class="uslugi__advantage"><img class="uslugi__advantage__img" src="" alt="">
            <div class="uslugi__advantage__text__container">
              <h6 class="uslugi__advantage__title">Горячая аудитория</h6>
              <h6 class="uslugi__advantage__text">Вы выбираете, кому показывать рекламу. Контекстная реклама будет показываться только заинтересованным в ваших услугах пользователям поисковых систем.</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer> 
      <div class="footer__column col-1">
        <div class="footer__logo"> <img class="footer__bird" src="../image/logo.svg" alt=""><img class="footer__GANG" src="../image/GANG.svg" alt=""></div>
        <ul class="footer__column__list footer__column__item color_gray">
          <li>ООО “ГЭНГ”</li>
          <li>ОГРН 1212400015783</li>
          <li>ИНН 2464156107</li>
        </ul>
        <ul class="footer__column__list footer__column__item color_gray">
          <li class="footer__address">660078, Красноярский край, г Красноярск, пер Афонтовский, зд. 2, помещ. 75 (офис 611)</li>
        </ul>
      </div>
      <div class="footer__column col-2">
        <ul class="footer__column__list">
          <li class="footer__column__item"><a href="#">Главная</a></li>
          <li class="footer__column__item"><a href="#">О нас</a></li>
          <li class="footer__column__item"><a href="#">Портфолио</a></li>
          <li class="footer__column__item"><a href="#">Контакты</a></li>
          <li class="footer__column__item"><a href="#">Вакансии</a></li>
          <li class="footer__column__item"><a href="#">Блог</a></li>
        </ul>
      </div>
      <div class="footer__column col-3">
        <ul class="footer__column__list">
          <li class="footer__column__item color_gray"><a href="#">Услуги</a></li>
          <li class="footer__column__item"><a href="#">Комплекс</a></li>
          <li class="footer__column__item"><a href="#">Таргет</a></li>
          <li class="footer__column__item"><a href="#">Контекст</a></li>
          <li class="footer__column__item"><a href="#">Веб-разработка</a></li>
          <li class="footer__column__item"><a href="#">Стратегия</a></li>
        </ul>
      </div>
      <div class="footer__column col-4">
        <ul class="footer__column__list">
          <li class="footer__column__item color_gray"><a href="#">Связаться</a></li>
          <li class="footer__column__item">
            <div class="vk">
              <div>
                <div class="vk__span_first">welcome@mygang.ru</div>
                <div>+7 (999) 442 05 26</div>
              </div><img src="../image/vk-white.svg" alt="">
            </div>
          </li>
          <li class="footer__column__item">
            <button class="btn-secondary-light"><span>Обсудить проект</span></button>
          </li>
          <li class="footer__column__item footer__column__item-text_size_lower color_gray"><a href="">Политика конциальности</a></li>
          <li class="footer__column__item footer__column__item-text_size_lower color_gray"><a href="">2024 Ⓒ ООО «ГЭНГ»</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>