<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&amp;display=swap">
  </head>
  <body> 
    <header>
      <div class="header__logo"><img src="../image/logo.svg" alt=""><img class="header__gang" src="../image/GANG.svg" alt=""></div><img src="../image/burger.svg" alt="">
    </header>
    <div class="mbt-120-80-40">
      <div class="work_gang"> 
        <h2 class="work_gang__title">Менеджер проектов</h2>
        <h6 class="work_gang__text">Привет! Это GANG уже 5 лет создаем эстетичные и полезные цифровые продукты для бизнеса. Экспериментируем, принимаем смелые решения и несем ответственность за то, что делаем. Тонко чувствуем динамику digital-рынка и индустрии.</h6>
        <h6 class="work_gang__text">Создаем проекты без «срока годности» — даже спустя много лет они вдохновляют и служат ориентирами.</h6>
        <h6 class="work_gang__text">Ищем ответственного и целеустремленного менеджера проектов, готового активно развиваться и постоянно двигаться к новым высотам.</h6>
      </div>
    </div>
    <div class="mb-120-80-40">
      <div class="vacansia_container">
        <h6 class="stages_title align-text-end web">Задачи</h6>
        <h6 class="stages_title tablet-mobile">Задачи</h6>
        <ul class="markers artical_mt_sm-p artical_p m">
          <li> <a href="">Координация и управление проектами от начала до завершения</a></li>
          <li> <a href="">Разработка и контроль выполнения планов и графиков проектов</a></li>
          <li> <a href="">Взаимодействие с клиентами для уточнения их требований и ожиданий</a></li>
          <li> <a href="">Организация работы команды и распределение задач между участниками</a></li>
          <li> <a href="">Мониторинг и анализ эффективности проектов, подготовка отчетов</a></li>
          <li> <a href="">Обеспечение соблюдения сроков и бюджетов проектов</a></li>
          <li> <a href="">Управление рисками и решение возникающих проблем</a></li>
        </ul>
        <h6 class="stages_title align-text-end web">Требования</h6>
        <h6 class="stages_title tablet-mobile">Требования</h6>
        <ul class="markers artical_mt_sm-p artical_p m">
          <li> <a href="">Высшее образование в области маркетинга, менеджмента или смежных дисциплин</a></li>
          <li> <a href="">Опыт работы на позиции проектного менеджера не менее 3 лет, предпочтительно в маркетинговом агентстве</a></li>
          <li> <a href="">Отличные навыки коммуникации и управления командой</a></li>
          <li> <a href="">Способность работать в условиях многозадачности и сжатых сроков</a></li>
          <li> <a href="">Умение анализировать данные и принимать решения на их основе</a></li>
          <li> <a href="">Знание современных маркетинговых инструментов и технологий</a></li>
        </ul>
        <h6 class="stages_title align-text-end web">Условия</h6>
        <h6 class="stages_title tablet-mobile">Условия</h6>
        <ul class="markers artical_mt_sm-p artical_p m">
          <li> <a href="">Работа в динамичном и креативном коллективе</a></li>
          <li> <a href="">Возможность профессионального и карьерного роста</a></li>
          <li> <a href="">Конкурентоспособная заработная плата</a></li>
          <li> <a href="">Офис в центре города с удобной транспортной доступностью</a></li>
          <li> <a href="">Гибкий график работы и возможность удаленной работы</a></li>
          <li> <a href="">Корпоративные мероприятия и тренинги для сотрудников</a></li>
        </ul>
      </div>
    </div>
    <div class="form-team"> 
      <h1>Не нашли нужную вакансию?</h1>
      <h4>Отправьте нам ваше резюме и мы рассмотрим вашу кандидатуры даже если сейчас подходящей вакансии нет</h4>
      <input class="input-primary" type="text" placeholder="Ваше имя">
      <input class="input-primary" type="text" placeholder="example@mail.ru">
      <input class="input-primary" type="text" placeholder="+7 (999) 999-99-99">
      <input class="input-primary" type="text" placeholder="Ссылка на резюме">
      <input class="input-primary input" type="text" placeholder="Комментарий">
      <div>
        <input class="custom-checkbox" type="checkbox" id="test5">
        <label for="test5">Согласие на обработку персональных данных</label>
      </div>
      <button class="btn-secondary-dark"><span>Отправить</span></button>
    </div>
    <div class="mbt-120-80-40">
      <div class="contacts"> 
        <div class="contacts__title"> 
          <h2>Контакты</h2>
        </div>
        <div class="contacts__container"> <img class="contacts__map web" src="../image/map.png" alt="">
          <div class="contacts__container_text">
            <div class="contacts__main">
              <div class="contacts__text__title"> 
                <h6>Красноярск</h6>
              </div>
              <div class="contacts__text__description"> 
                <h6>У нас есть уютный офис, приходите, обсудим ваш проект или побеседуем в свободной форме</h6>
              </div><img class="contacts__map tablet-mobile" src="../image/map.png" alt="">
              <div class="contacts__text__container__context"> 
                <div class="contacts__text__context">
                  <div class="contacts__text__context__title"> 
                    <h6>Адерс</h6>
                  </div>
                  <div class="contacts__text__context__content">
                    <h6>Афонтовский переулок,<br>дом 2, офис 6-01, 6-04, 6-11</h6>
                  </div>
                </div>
                <div class="contacts__text__context">
                  <div class="contacts__text__context__title"> 
                    <h6>Почта</h6>
                  </div>
                  <div class="contacts__text__context__content">
                    <h6>welcome@mygang.ru</h6>
                  </div>
                </div>
                <div class="contacts__text__context">
                  <div class="contacts__text__context__title"> 
                    <h6>Социальные сети</h6>
                  </div>
                  <div class="contacts__text__context__content"><img src="../image/vk.svg" alt=""></div>
                </div>
                <div class="contacts__text__context">
                  <div class="contacts__text__context__title"> 
                    <h6>Телефон</h6>
                  </div>
                  <div class="contacts__text__context__content">
                    <h6>+7 (999) 442 05 26 </h6>
                  </div>
                </div>
              </div>
              <button class="btn-primary-light"><span>Сотрудничать</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer> 
      <div class="footer__column col-1">
        <div class="footer__logo"> <img class="footer__bird" src="../image/logo.svg" alt=""><img class="footer__GANG" src="../image/GANG.svg" alt=""></div>
        <ul class="footer__column__list footer__column__item color_gray">
          <li>ООО “ГЭНГ”</li>
          <li>ОГРН 1212400015783</li>
          <li>ИНН 2464156107</li>
        </ul>
        <ul class="footer__column__list footer__column__item color_gray">
          <li class="footer__address">660078, Красноярский край, г Красноярск, пер Афонтовский, зд. 2, помещ. 75 (офис 611)</li>
        </ul>
      </div>
      <div class="footer__column col-2">
        <ul class="footer__column__list">
          <li class="footer__column__item"><a href="#">Главная</a></li>
          <li class="footer__column__item"><a href="#">О нас</a></li>
          <li class="footer__column__item"><a href="#">Портфолио</a></li>
          <li class="footer__column__item"><a href="#">Контакты</a></li>
          <li class="footer__column__item"><a href="#">Вакансии</a></li>
          <li class="footer__column__item"><a href="#">Блог</a></li>
        </ul>
      </div>
      <div class="footer__column col-3">
        <ul class="footer__column__list">
          <li class="footer__column__item color_gray"><a href="#">Услуги</a></li>
          <li class="footer__column__item"><a href="#">Комплекс</a></li>
          <li class="footer__column__item"><a href="#">Таргет</a></li>
          <li class="footer__column__item"><a href="#">Контекст</a></li>
          <li class="footer__column__item"><a href="#">Веб-разработка</a></li>
          <li class="footer__column__item"><a href="#">Стратегия</a></li>
        </ul>
      </div>
      <div class="footer__column col-4">
        <ul class="footer__column__list">
          <li class="footer__column__item color_gray"><a href="#">Связаться</a></li>
          <li class="footer__column__item">
            <div class="vk">
              <div>
                <div class="vk__span_first">welcome@mygang.ru</div>
                <div>+7 (999) 442 05 26</div>
              </div><img src="../image/vk-white.svg" alt="">
            </div>
          </li>
          <li class="footer__column__item">
            <button class="btn-secondary-light"><span>Обсудить проект</span></button>
          </li>
          <li class="footer__column__item footer__column__item-text_size_lower color_gray"><a href="">Политика конциальности</a></li>
          <li class="footer__column__item footer__column__item-text_size_lower color_gray"><a href="">2024 Ⓒ ООО «ГЭНГ»</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>