footer h5 {
    color: white;
}

footer h6 {
    color: $color-gray-font;
}

.footer__grid-A {
    grid-area: A;
}

.footer__grid-B {
    grid-area: B;
}
.footer__grid-C {
    grid-area: C;
}
.footer__grid-D {
    grid-area: D;
}

@include for-desktop {
    .footer-container {
        display: grid;
        grid-template-areas: "A B C D";
        gap: $space-xl;
        grid-auto-columns: 1fr;
    }
}

@include for-tablet {
    .footer-container {
        display: grid;
        grid-template-areas: "B C"
                             "A D";
        gap: $space-xl;
    }
}

@include for-mobile {
    .footer-container {
        display: grid;
        grid-template-areas: "B C"
                             "A A"
                             "D D";
        gap: $space;
    }
}
